.coxUtA {
	color: var(--content-color-primary);
  padding: 0 var(--spacing-l);
  display: flex;
  -webkit-box-align: center;
  align-items: center;
	border-radius: var(--border-radius-default);
}

.agruT {
	box-sizing: border-box;
	display: flex;
	flex-flow: column;
	width: 100%;
	padding-top: 16px;
	padding-bottom: 24px;
	background-color: transparent;
	-webkit-box-pack: justify;
	justify-content: space-between;
	-webkit-box-align: stretch;
	align-items: stretch;
	align-self: auto;
	flex-shrink: 0;
	flex-basis: auto;
	min-width: auto;
}

.dlaAUF {
	box-sizing: border-box;
	display: flex;
	flex-flow: column;
	width: 100%;
	padding-top: 16px;
	padding-bottom: 24px;
	background-color: transparent;
	-webkit-box-pack: justify;
	justify-content: space-between;
	-webkit-box-align: stretch;
	align-items: stretch;
	align-self: auto;
	flex-shrink: 0;
	flex-basis: auto;
	min-width: auto;
}

.juGyaL {
	box-sizing: border-box;
	display: flex;
	flex-flow: row;
	padding: 0px;
	background-color: transparent;
	-webkit-box-pack: start;
	justify-content: flex-start;
	-webkit-box-align: center;
	align-items: center;
	align-self: auto;
	flex-shrink: 0;
	flex-basis: auto;
	min-width: auto;
}

.eKVBRD {
	box-sizing: border-box;
	display: flex;
	flex-flow: row;
	padding: 0px;
	background-color: transparent;
	-webkit-box-pack: start;
	justify-content: flex-start;
	-webkit-box-align: stretch;
	align-items: stretch;
	align-self: auto;
	flex-shrink: 0;
	flex-basis: auto;
	min-width: auto;
}

@media screen and (min-width: 959px) {
	.hCUtsq.logged-in {
			position: absolute;
			width: 200px;
			height: 100%;
			left: calc(50% - 100px);
			top: 0px;
			margin-top: 6.5px;
	}
}

.hCUtsq {
	margin-right: 0px;
}

.requester-header {
	-webkit-app-region: drag;
	background-color: var(--global-navigation-background-color);
	z-index: 90;
	display: flex;
	flex-direction: row;
	box-shadow: inset 0 -1px 0 var(--border-color-strong);
	align-items: stretch;
	flex: 0 0 48px;
	padding: 0 var(--spacing-m);
	user-select: none;
}

.requester-header-overlay-area {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	flex-grow: 1;
}

.requester-header__section-right {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.requester-header__section-left {
	display: flex;
	flex-direction: row;
	align-items: center;
	flex: 1;
	min-width: 320px;
}

.requester-header__section-left .top-navigation-buttons {
	display: flex;
	height: 100%;
	align-items: center;
	margin-right: var(--spacing-xs);
	flex: 1;
}

a {
	text-decoration: none;
	color: inherit;
}

a {
	background-color: transparent;
}

.requester-header__section-left .workspace-switcher {
    padding: 0;
}

.workspace-switcher {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 1280px) {
    .jKCRf
		{
        grid-template-columns: 250px minmax(190px, 1fr);
        margin-left: var(--spacing-xxl);
    }
}

.jKCRf {
    height: 100vh;
    overflow-y: scroll;
    overflow-x: unset;
    display: grid;
    grid-template-columns: 250px 1000px;
    -webkit-box-pack: center;
    justify-content: center;
    background-color: var(--background-color-primary);
    color: var(--content-color-primary);
}