{% extends "../../layouts/onboarding.njk" %}

{% block rightContent %}
<h1>{{ title}}</h1>
<form method="POST" action="{{ actionUrl }}">
  <input type="hidden" name="token" value="{{ token }}">
  <input type="hidden" name="_csrf" value="{{ csrfToken }}">

  Qual è il tuo nome?
  <input type="text" name="fullName" placeholder="eg.: Mario Rossi" required>

  <button type="submit">Continua</button>

  {% if error %}
    <p style="color: red;">{{ error }}</p>
  {% endif %}
</form>
{% endblock %}