{% extends "../../layouts/team.njk" %}

{% block rightContent %}
<div direction="column" wrap="nowrap"
	class="Flex__StyledFlex-sc-130isqg-0 jeEsSn ProfileSettingsSkeleton__DynamicContentContainer-postman-app__sc-1bd2840-3 fftUzM "
	data-testid="aether-flex" data-click="">
	<div direction="column" wrap="nowrap"
		class="Flex__StyledFlex-sc-130isqg-0 dhCMNU APIAuthLandingPage__StyledLandingPage-postman-app__sc-5501pk-0 KwpdN "
		data-testid="api-auth-landing-page" data-click="">
		<div direction="row" wrap="nowrap" class="Flex__StyledFlex-sc-130isqg-0 cncOsf  " data-testid="aether-flex"
			data-click="">
			<div direction="column" wrap="nowrap" class="Flex__StyledFlex-sc-130isqg-0 gxzoKo  " data-testid="aether-flex"
				data-click="">
				<h1 color="" class="Heading__StyledHeading-sc-16h23s5-0 jzpkpB" data-aether-id="aether-heading"
					data-testid="aether-heading" data-click="">Guided authorizations</h1><span type=""
					color="content-color-secondary" class="Text__TextContainer-sc-17np7hw-0 eFsNZj landing-page-subtitle"
					data-aether-id="aether-text" data-testid="aether-text">Help users quickly onboarding to your API. <a
						target="_blank" rel="noreferrer noopener" href="https://go.pstmn.io/api-auth-learn-more"><span
							type="link-default" class="TextLink__StyledTextLink-sc-17llk09-0 cJVKue" data-aether-id="aether-text-link"
							data-testid="aether-text"><span class="aether-link-text">Learn more.</span><i
								class="Icon__IconContainer-sc-1o81yne-0 bwPFhT" data-testid="aether-icon"><svg width="16" height="16"
									viewBox="0 0 16 16" fill="none">
									<use href="/assets/images/../images/iconSprites-9ac54844796b6a62.svg#icon-action-openWeb-stroke">
									</use>
								</svg></i></span></a></span>
			</div><button class="Button__StyledButton-b8af3e-1 eEQrW" data-aether-id="aether-button"
				data-testid="aether-button" data-click="" data-buttontype="primary" type="submit"
				aria-label="Add Guided Auth"><span class="Button__StyledButtonText-b8af3e-2 liTLwQ aether-button__text">Add
					Guided Auth</span></button>
		</div>
		<div class="BlankState__StyledBlankStateWrapper-sc-4dvps6-0 iWoUTa">
			<div width="fit-content" direction="column" wrap="nowrap"
				class="Flex__StyledFlex-sc-130isqg-0 cxYTwF BlankState__StyledBlankState-sc-4dvps6-1 ctKhZW "
				data-testid="aether-blank-state" data-click=""><img height="88" width="104"
					alt="spot-illustration-authentication"
					src="https://postman.com/_aether-assets/illustrations/light/spot-illustration-authentication.svg"
					data-testid="spot-illustration-authentication" draggable="false" class="aether-illustration "
					style="-webkit-user-drag: none;">
				<div class="BlankState__BlankStateInfo-sc-4dvps6-2 ctbWjH">
					<div>
						<h3 color="" class="Heading__StyledHeading-sc-16h23s5-0 ixGsPC blank-state__title"
							data-aether-id="aether-heading" data-testid="aether-heading" data-click="">Add your first guided
							authorization</h3>
						<p class="Paragraph__StyledParagraph-sc-1fvp2fe-0 dsLnO" data-aether-id="aether-text-paragraph" type="para"
							color="content-color-secondary" data-testid="aether-text">Quickly onboarding users by add guided
							authorization to your public APIs.</p>
					</div>
					<div direction="row" wrap="nowrap" class="Flex__StyledFlex-sc-130isqg-0 ffLWEa  " data-testid="aether-flex"
						data-click="">
						<div direction="column" wrap="nowrap"
							class="Flex__StyledFlex-sc-130isqg-0 cdURen BlankState__ActionsContainer-sc-4dvps6-3 hQqQkI "
							data-testid="aether-flex" data-click=""><a target="_blank" class="aether-blank-state__button"
								rel="noreferrer noopener" href="https://go.pstmn.io/api-auth-learn-more"><span type="link-default"
									class="TextLink__StyledTextLink-sc-17llk09-0 cJVKue" data-aether-id="aether-text-link"
									data-testid="aether-text"><span class="aether-link-text">Learn more.</span><i
										class="Icon__IconContainer-sc-1o81yne-0 bwPFhT" data-testid="aether-icon"><svg width="16"
											height="16" viewBox="0 0 16 16" fill="none">
											<use
												href="/assets/images/../images/iconSprites-9ac54844796b6a62.svg#icon-action-openWeb-stroke">
											</use>
										</svg></i></span></a></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}