{% extends "../../layouts/team.njk" %}

{% block rightContent %}
	<div direction="column" wrap="nowrap"
		class="Flex__StyledFlex-sc-130isqg-0 jeEsSn ProfileSettingsSkeleton__DynamicContentContainer-postman-app__sc-1bd2840-3 fftUzM "
		data-testid="aether-flex" data-click="">
		<div>
			<h1 color="" class="Heading__StyledHeading-sc-16h23s5-0 hmVTdD" data-aether-id="aether-heading"
				data-testid="aether-heading" data-click="">Team profile</h1>
			<form width="100%" direction="column"
				class="Form__StyledForm-ak4rok-0 SdzPq EditTeamProfile__StyledFlex-postman-app__sc-egqqlb-11 cZYCXF"
				data-testid="aether-form" data-click="" data-aether-id="aether-form">
				<div direction="column" wrap="nowrap" class="Flex__StyledFlex-sc-130isqg-0 JTcUZ  " data-testid="aether-flex"
					data-click="">
					<div direction="column" wrap="nowrap" class="Flex__StyledFlex-sc-130isqg-0 iXKDVq  " data-testid="aether-flex"
						data-click="">
						<div direction="column" wrap="nowrap"
							class="Flex__StyledFlex-sc-130isqg-0 tpspF EditTeamProfile__ImageInputSection-postman-app__sc-egqqlb-0 iSphlh "
							data-testid="aether-flex" data-click="">
							<h3 color="" class="Heading__StyledHeading-sc-16h23s5-0 jkUNne" data-aether-id="aether-heading"
								data-testid="aether-heading" data-click="">Profile and cover photo</h3>
							<div class="EditTeamProfile__HeroImageContainer-postman-app__sc-egqqlb-2 hdaA-Dr"><img
									src="https://res.cloudinary.com/postman/image/upload/t_team_hero/v1/team_hero/def-hero-image"
									alt="Team’s cover photo" class="EditTeamProfile__HeroImage-postman-app__sc-egqqlb-1 cCYege">
								<div class="EditTeamProfile__HeroMenuWrap-postman-app__sc-egqqlb-3 jWCAkV"><button
										class="Button__StyledButton-b8af3e-1 frhHDe MenuButton__StyledMenuButton-sc-1plp5bi-0 dinFMT"
										data-aether-id="aether-button" data-testid="aether-menu-button" data-click=""
										data-buttontype="secondary" type="submit" aria-label="" aria-haspopup="menu"
										aria-expanded="false"><i class="Icon__IconContainer-sc-1o81yne-0 cwWaqP aether-button__left-icon"
											data-testid="aether-icon"><svg width="16" height="16" viewBox="0 0 16 16" fill="none">
												<use
													href="/assets/images/../images/iconSprites-9ac54844796b6a62.svg#icon-action-edit-stroke">
												</use>
											</svg></i><i class="Icon__IconContainer-sc-1o81yne-0 iCjfYr aether-button__right-icon"
											data-testid="aether-icon"><svg width="16" height="16" viewBox="0 0 16 16" fill="none">
												<use href="/assets/images/../images/iconSprites-9ac54844796b6a62.svg#icon-direction-down">
												</use>
											</svg></i></button></div>
							</div>
							<div class="EditTeamProfile__AvatarInputSection-postman-app__sc-egqqlb-5 cscCmo">
								<div class="avatar"><span
										class="pm-user-hide-stock-profile-pic icon-user-avatar-default pm-user-avatar-icon pm-user-avatar-icon-5 pm-icon-xxl">
										<div class="pm-user-avatar-custompic"
											style="background-image: url(&quot;https://res.cloudinary.com/postman/image/upload/t_team_logo/v1/team/default-T5&quot;);">
										</div>
									</span></div>
								<div class="EditTeamProfile__AvatarMenuWrap-postman-app__sc-egqqlb-4 cgJPKa"><button
										class="Button__StyledButton-b8af3e-1 frhHDe MenuButton__StyledMenuButton-sc-1plp5bi-0 dinFMT"
										data-aether-id="aether-button" data-testid="aether-menu-button" data-click=""
										data-buttontype="secondary" type="submit" aria-label="" aria-haspopup="menu"
										aria-expanded="false"><i class="Icon__IconContainer-sc-1o81yne-0 cwWaqP aether-button__left-icon"
											data-testid="aether-icon"><svg width="16" height="16" viewBox="0 0 16 16" fill="none">
												<use
													href="/assets/images/../images/iconSprites-9ac54844796b6a62.svg#icon-action-edit-stroke">
												</use>
											</svg></i><i class="Icon__IconContainer-sc-1o81yne-0 iCjfYr aether-button__right-icon"
											data-testid="aether-icon"><svg width="16" height="16" viewBox="0 0 16 16" fill="none">
												<use href="/assets/images/../images/iconSprites-9ac54844796b6a62.svg#icon-direction-down">
												</use>
											</svg></i></button></div>
							</div>
						</div>
						<form width="100%" name="edit-team-profile-form" data-testid="aether-form" data-click=""
							data-aether-id="aether-form" class="Form__StyledForm-ak4rok-0 SdzPq">
							<div direction="column" wrap="nowrap" class="Flex__StyledFlex-sc-130isqg-0 JTcUZ  "
								data-testid="aether-flex" data-click="">
								<div direction="column" wrap="nowrap" class="Flex__StyledFlex-sc-130isqg-0 iXKDVq  "
									data-testid="aether-flex" data-click="">
									<div direction="column" wrap="nowrap" class="Flex__StyledFlex-sc-130isqg-0 jOVUvv  "
										data-testid="aether-flex" data-click="">
										<h3 color="" class="Heading__StyledHeading-sc-16h23s5-0 jkUNne" data-aether-id="aether-heading"
											data-testid="aether-heading" data-click="">Profile details</h3>
										<div class="TextInput__StyledTextInputContainer-zmq0uj-1 cEnCWH"><span
												class="TextInput__StyledTextInputActionableContainer-zmq0uj-5 bQFlOE"><label type="primary"
													data-aether-id="aether-label" data-testid="aether-label" data-click=""
													class="Label__LabelElement-owusvu-1 hGvCgi">Team name</label></span>
											<p class="Text__StyledInputMetaText-sc-17np7hw-1 bpRpbY">Your team name as you'd like it to be
												displayed on Postman.</p>
											<div class="TextInput__StyledTextInputItem-zmq0uj-2 bVkcCk" data-aether-id="aether-textInput"
												width="100%"><input type="text" placeholder="" data-testid="aether-text-input" data-click=""
													class="TextInput__StyledInput-zmq0uj-3 gneJFw" value="Tommaso Centurioni">
												<div direction="row" wrap="nowrap" class="Flex__StyledFlex-sc-130isqg-0 bxZHPP  "
													data-testid="aether-flex" data-click=""></div>
											</div>
										</div>
										<div class="TextArea__StyledTextAreaContainer-sc-1ai71mz-0 cFRbvO">
											<div class="TextArea__StyledTextAreaActionableContainer-sc-1ai71mz-3 fIIpam">
												<div class="TextArea__StyledTextAreaLabelContainer-sc-1ai71mz-4 iqfEoP"><label for="ss0AlA"
														type="primary" data-aether-id="aether-label" data-testid="aether-label" data-click=""
														class="Label__LabelElement-owusvu-1 hGvCgi">Tagline</label></div>
											</div>
											<div class="TextArea__StyledHelperContainer-sc-1ai71mz-5 hTTVzE">
												<p class="Text__StyledInputMetaText-sc-17np7hw-1 bpRpbY">Add a tagline to help users recognize
													you across Postman.</p>
												<div class="TextArea__StyledCountContainer-sc-1ai71mz-6 hxAuCC"><span type=""
														color="content-color-secondary" class="Text__TextContainer-sc-17np7hw-0 kitIDl"
														data-aether-id="aether-text" data-testid="aether-text">0/140</span></div>
											</div><textarea placeholder="Example: organize your customer data with our APIs!" rows="3"
												class="TextArea__StyledTextArea-sc-1ai71mz-1 hLCWJW" id="ss0AlA"
												data-aether-id="aether-textArea" aria-invalid="false" aria-describedby="helper-ss0AlA "
												data-testid="aether-text-area" data-click=""></textarea>
										</div>
										<div class="TextInput__StyledTextInputContainer-zmq0uj-1 cEnCWH"><span
												class="TextInput__StyledTextInputActionableContainer-zmq0uj-5 bQFlOE"><label type="primary"
													data-aether-id="aether-label" data-testid="aether-label" data-click=""
													class="Label__LabelElement-owusvu-1 hGvCgi">Team domain</label></span>
											<p class="Text__StyledInputMetaText-sc-17np7hw-1 bpRpbY">A unique team domain used to sign in and
												access your team dashboard.</p>
											<div class="TextInput__StyledTextInputItem-zmq0uj-2 bVkcCk" data-aether-id="aether-textInput"
												width="100%"><input type="text" placeholder="" data-testid="aether-text-input" data-click=""
													class="TextInput__StyledInput-zmq0uj-3 gneJFw" value="tommasocenturioni">
												<div direction="row" wrap="nowrap" class="Flex__StyledFlex-sc-130isqg-0 bxZHPP  "
													data-testid="aether-flex" data-click=""></div>
											</div>
										</div>
										<div direction="column" wrap="nowrap" class="Flex__StyledFlex-sc-130isqg-0 dhCMNU  "
											data-testid="aether-flex" data-click=""><label type="primary" data-aether-id="aether-label"
												data-testid="aether-label" data-click=""
												class="Label__LabelElement-owusvu-1 hGvCgi">Favicon</label><label type="secondary"
												data-aether-id="aether-label" data-testid="aether-label" data-click=""
												class="Label__LabelElement-owusvu-1 fuzmDD">Upload an ICO file to be used as a favicon for your
												team’s published documentation.</label><label type="secondary" data-aether-id="aether-label"
												data-testid="aether-label" data-click="" class="Label__LabelElement-owusvu-1 fuzmDD">Please
												upload an image of size 16x16 or 32x32.</label>
											<div direction="row" wrap="nowrap" class="Flex__StyledFlex-sc-130isqg-0 juGyaL  "
												data-testid="aether-flex" data-click="">
												<div class="EditTeamProfile__FaviconUploadContainer-postman-app__sc-egqqlb-8 hgoEEv"
													style="width: 76px;">
													<div direction="column" wrap="nowrap" class="Flex__StyledFlex-sc-130isqg-0 dhCMNU  "
														data-testid="aether-flex" data-click=""><label for="custom-title-file-uploader"
															type="primary" data-aether-id="aether-label" data-testid="aether-label" data-click=""
															class="Label__LabelElement-owusvu-1 hGvCgi"></label><input id="custom-title-file-uploader"
															accept=".ico" name="" class="FileUploader__StyledInputFile-yxf6ba-0 kQwgvD"
															data-testid="aether-file-uploader" data-click="" type="file"><label
															data-aether-id="aether-label" for="custom-title-file-uploader"
															class="FileUploader__StyledFileUploaderLabel-yxf6ba-1 hdEBNS">Upload</label></div>
												</div>
												<div class="EditTeamProfile__FaviconImageActionsContainer-postman-app__sc-egqqlb-6 gThzBk">
												</div>
											</div>
										</div>
										<div direction="column" wrap="nowrap" class="Flex__StyledFlex-sc-130isqg-0 jmNxBK  "
											data-testid="aether-flex" data-click="">
											<h3 color="" class="Heading__StyledHeading-sc-16h23s5-0 jkUNne" data-aether-id="aether-heading"
												data-testid="aether-heading" data-click="">Public profile</h3>
											<div class="Checkbox__StyledCheckBoxContainer-yn1wyf-4 fJzbJq"><span aria-checked="true"
													role="checkbox" class="Checkbox__StyledCheckBoxActionableContainer-yn1wyf-0 hbxhwo">
													<div label="Make my team’s profile public" type="primary" data-aether-id="aether-checkbox"
														class="Checkbox__StyledIconContainer-yn1wyf-1 jBcZKR"><i color="aether-icon-default-color"
															class="IconWrapper__IconContainer-sc-1b9vcws-0 hCORXv" title=""><svg width="10"
																height="10" viewBox="0 0 10 7" fill="none" xmlns="http://www.w3.org/2000/svg">
																<path fill-rule="evenodd" clip-rule="evenodd"
																	d="M9.41421 1.41421L3.70711 7.12132L0 3.41421L1.41421 2L3.70711 4.29289L8 0L9.41421 1.41421Z"
																	fill="white"></path>
															</svg></i></div><input data-testid="aether-checkbox" data-click=""
														label="Make my team’s profile public" type="checkbox"
														class="Checkbox__StyledInputCheckBox-yn1wyf-2 jFFBGU" value="" checked=""><label
														type="optionSelector" data-aether-id="aether-label" data-testid="aether-label" data-click=""
														class="Label__LabelElement-owusvu-1 kTcVuv">Make my team’s profile public</label>
												</span>
												<div class="Checkbox__StyledHelperTextContainer-yn1wyf-3 cTaEXf"><span type="body-small"
														color="content-color-secondary" class="Text__TextContainer-sc-17np7hw-0 fPEjcM"
														data-aether-id="aether-text" data-testid="aether-text">This will allow others to discover
														your team on Postman and learn more about your team’s work.</span></div>
											</div>
										</div>
										<div direction="column" wrap="nowrap"
											class="Flex__StyledFlex-sc-130isqg-0 fwWvrU EditTeamProfile__StyledCustomizeBanner-postman-app__sc-egqqlb-10 qJLOe "
											data-testid="aether-flex" data-click="">
											<h4 color="" class="Heading__StyledHeading-sc-16h23s5-0 ixGsPC" data-aether-id="aether-heading"
												data-testid="aether-heading" data-click="">Customize your public profile</h4>
											<p class="Paragraph__StyledParagraph-sc-1fvp2fe-0 dsLnO" data-aether-id="aether-text-paragraph"
												type="para" color="content-color-secondary" data-testid="aether-text">Make your public profile
												amazing by adding an about section, links to your websites, highlighting your best APIs or
												collections, and more.</p><a target="_self"
												class="EditTeamProfile__ProfileLink-postman-app__sc-egqqlb-9 iXClNu" rel="noreferrer noopener"
												href="https://www.postman.com/tommasocenturioni"><span type="link-primary"
													class="TextLink__StyledTextLink-sc-17llk09-0 bwsOSj" data-aether-id="aether-text-link"
													data-testid="aether-text"><span class="aether-link-text">Edit Your Public Profile<i
															class="Icon__IconContainer-sc-1o81yne-0 cwWaqP" data-testid="aether-icon"><svg width="16"
																height="16" viewBox="0 0 16 16" fill="none">
																<use
																	href="/assets/images/../images/iconSprites-9ac54844796b6a62.svg#icon-action-openWeb-stroke">
																</use>
															</svg></i></span></span></a>
										</div>
									</div>
								</div>
								<div direction="row" wrap="nowrap" class="Flex__StyledFlex-sc-130isqg-0 bwQCGb  "
									data-testid="aether-flex" data-click=""><button class="Button__StyledButton-b8af3e-1 eEQrW"
										data-aether-id="aether-button" data-testid="aether-button" data-click="" data-buttontype="primary"
										type="submit" aria-label="Update Profile" disabled=""><span
											class="Button__StyledButtonText-b8af3e-2 liTLwQ aether-button__text">Update
											Profile</span></button></div>
							</div>
						</form>
					</div>
					<div direction="row" wrap="nowrap" class="Flex__StyledFlex-sc-130isqg-0 bwQCGb  " data-testid="aether-flex"
						data-click=""></div>
				</div>
			</form>
		</div>
	</div>
{% endblock %}