services:
  postgres:
    image: postgres:16
    restart: always
    shm_size: 128mb
    environment:
      POSTGRES_USER: ${POSTGRES_USERNAME}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - 5432:5432
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./scripts/terminate-connections.sql:/docker-entrypoint-initdb.d/terminate-connections.sql
      - ./scripts/terminate-hanging-connections.sh:/docker-entrypoint-initdb.d/terminate-hanging-connections.sh:ro
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USERNAME} -d ${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 10

  keycloak:
    image: quay.io/keycloak/keycloak:26.2.4
    command: start-dev --hostname=${KEYCLOAK_URL} --hostname-admin=${KEYCLOAK_URL}
    environment:
      KC_DB_URL: ${KC_DB_URL}
      KC_DB: ${KC_DB}
      KC_DB_USERNAME: ${POSTGRES_USERNAME}
      KC_DB_PASSWORD: ${POSTGRES_PASSWORD}
      KC_HOSTNAME_STRICT: "false"
      KEYCLOAK_ADMIN: ${KEYCLOAK_ADMIN}
      KEYCLOAK_ADMIN_PASSWORD: ${KEYCLOAK_ADMIN_PASSWORD}
      KC_BOOTSTRAP_ADMIN_USERNAME: ${KC_BOOTSTRAP_ADMIN_USERNAME}
      KC_BOOTSTRAP_ADMIN_PASSWORD: ${KC_BOOTSTRAP_ADMIN_PASSWORD}
    ports:
      - 8080:8080
    depends_on:
      postgres:
        condition: service_healthy

  redis:
    image: redis:latest
    container_name: redis_broker
    ports:
      - "6379:6379"
    restart: always
    # Nessun volume necessario se lo usi solo come cache/broker temporaneo

  api-gateway:
    build:
      context: .
      dockerfile: apps/backend/api-gateway/Dockerfile
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules
    command: npm run dev --workspace=apps/backend/api-gateway -- --host 0.0.0.0
    ports:
      - 3000:3000
    depends_on:
      - postgres
      - keycloak
      - auth-service
      - profile-service
      - audit-service
    environment:
      &common-env
      VERSION: ${API_GATEWAY_VERSION}
      ENV: ${API_GATEWAY_ENV}
      LOG_LEVEL: ${API_GATEWAY_LOG_LEVEL}
      JWT_SECRET: ${JWT_SECRET}
      KC_BOOTSTRAP_ADMIN_URL: ${KC_BOOTSTRAP_ADMIN_URL}
      REDIS_URL: redis://redis_broker:6379

  flow-manager:
    build:
      context: .
      dockerfile: apps/backend/flow-manager/Dockerfile
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules
    command: npm run dev --workspace=apps/backend/flow-manager -- --host 0.0.0.0
    ports:
      - 3001:3001
    depends_on:
      - postgres
    environment:
      <<: *common-env
      PROCESS_ENGINE_DB_CONNECTION_STR: ${PROCESS_ENGINE_DB_CONNECTION_STR}

  auth-service:
    build:
      context: .
      dockerfile: apps/backend/auth-service/Dockerfile
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules
    command: npm run dev --workspace=apps/backend/auth-service -- --host 0.0.0.0
    ports:
      - 8000:8000
    depends_on:
      - keycloak
      - postgres
      - audit-service
    environment:
      <<: *common-env
      AUTH_DB_CONNECTION_STR: ${AUTH_DB_CONNECTION_STR}
      # ... altre env specifiche ...

  audit-service:
    build:
      context: .
      dockerfile: apps/backend/audit-service/Dockerfile
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules
    command: npm run dev --workspace=apps/backend/audit-service -- --host 0.0.0.0
    ports:
      - 8001:8001
    depends_on:
      - postgres
      - redis
    environment:
      <<: *common-env
      POSTGRES_CONNECTION_STR: ${POSTGRES_CONNECTION_STR}
      AUDIT_DB_CONNECTION_STR: ${AUDIT_DB_CONNECTION_STR}

  profile-service:
    build:
      context: .
      dockerfile: apps/backend/profile-service/Dockerfile
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules
    command: npm run dev --workspace=apps/backend/profile-service -- --host 0.0.0.0
    ports:
      - 8002:8002
    depends_on:
      - postgres
    environment:
      <<: *common-env
      PROFILE_DB_CONNECTION_STR: ${PROFILE_DB_CONNECTION_STR}

  notification-service:
    build:
      context: .
      dockerfile: apps/backend/notification-service/Dockerfile
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules
    command: npm run dev --workspace=apps/backend/notification-service -- --host 0.0.0.0
    ports:
      - 8003:8003
    environment:
      <<: *common-env
      NOTIFICATION_DB_CONNECTION_STR: ${NOTIFICATION_DB_CONNECTION_STR}

  tenant-service:
    build:
      context: .
      dockerfile: apps/backend/tenant-service/Dockerfile
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules
    command: npm run dev --workspace=apps/backend/tenant-service -- --host 0.0.0.0
    ports:
      - 8005:8005
    environment:
      <<: *common-env
      TENANT_DB_CONNECTION_STR: ${TENANT_DB_CONNECTION_STR}

  contact-service:
    build:
      context: .
      dockerfile: apps/backend/contact-service/Dockerfile
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules
    command: npm run dev --workspace=apps/backend/contact-service -- --host 0.0.0.0
    ports:
      - 8006:8006
    environment:
      <<: *common-env
      CONTACT_DB_CONNECTION_STR: ${CONTACT_DB_CONNECTION_STR}

  import-service:
    build:
      context: .
      dockerfile: apps/backend/import-service/Dockerfile
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules
    command: npm run dev --workspace=apps/backend/import-service -- --host 0.0.0.0
    ports:
      - 8007:8007
    environment:
      <<: *common-env
      IMPORT_DB_CONNECTION_STR: ${IMPORT_DB_CONNECTION_STR}

  # templarte-service:
  #   build:
  #     context: .
  #     dockerfile: apps/backend/template-service/Dockerfile
  #   volumes:
  #     - .:/usr/src/app
  #     - /usr/src/app/node_modules
  #   command: npm run dev --workspace=apps/backend/template-service -- --host 0.0.0.0
  #   ports:
  #     - 8008:8008
  #   environment:
  #     <<: *common-env
  #     TEMPLATE_DB_CONNECTION_STR: ${TEMPLATE_DB_CONNECTION_STR}

  subscription-service:
    build:
      context: .
      dockerfile: apps/backend/subscription-service/Dockerfile
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules
    # command: npm run dev --workspace=apps/backend/subscription-service -- --host 0.0.0.0
    command: npm run dev --workspace=apps/backend/subscription-service -- --host 0.0.0.0 -- --host 0.0.0.0
    ports:
      - 8004:8004
    environment:
      <<: *common-env
      SUBSCRIPTION_DB_CONNECTION_STR: ${SUBSCRIPTION_DB_CONNECTION_STR}

  web-site:
    build:
      context: .
      dockerfile: apps/frontend/web-site/Dockerfile
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules
    # Per il frontend (Vite/Next), npm run dev di solito gestisce già l'hot reload
    command: npm run dev --workspace=apps/frontend/web-site -- --host 0.0.0.0
    ports:
      - 5172:5172
    environment:
      <<: *common-env

  react:
    build:
      context: .
      dockerfile: apps/frontend/react/Dockerfile
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules
    # Per il frontend (Vite/Next), npm run dev di solito gestisce già l'hot reload
    command: npm run dev --workspace=apps/frontend/react -- --host 0.0.0.0
    ports:
      - 5173:5173
    environment:
      <<: *common-env

volumes:
  postgres_data: