services:
  postgres:
    image: postgres:16
    restart: always
    shm_size: 128mb
    environment:
      POSTGRES_USER: ${POSTGRES_USERNAME}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - 5432:5432
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./scripts/terminate-connections.sql:/docker-entrypoint-initdb.d/terminate-connections.sql
      - ./scripts/terminate-hanging-connections.sh:/docker-entrypoint-initdb.d/terminate-hanging-connections.sh:ro
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USERNAME} -d ${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 10
    networks:
      - dike-net

  keycloak:
    image: quay.io/keycloak/keycloak:26.5
    environment:
      KC_DB_URL: ${KC_DB_URL}
      KC_DB: ${KC_DB}
      KC_DB_USERNAME: ${POSTGRES_USERNAME}
      KC_DB_PASSWORD: ${POSTGRES_PASSWORD}
      KC_HOSTNAME_STRICT: "false"
      KEYCLOAK_ADMIN: ${KEYCLOAK_ADMIN}
      KEYCLOAK_ADMIN_PASSWORD: ${KEYCLOAK_ADMIN_PASSWORD}
      KC_BOOTSTRAP_ADMIN_USERNAME: ${KC_BOOTSTRAP_ADMIN_USERNAME}
      KC_BOOTSTRAP_ADMIN_PASSWORD: ${KC_BOOTSTRAP_ADMIN_PASSWORD}
    ports:
      - 8080:8080
    depends_on:
      postgres:
        condition: service_healthy
    healthcheck:
      test: ["CMD-SHELL", "exec 3<>/dev/tcp/127.0.0.1/8080"]
      interval: 5s
      timeout: 5s
      retries: 20
    command: >
      start-dev 
      --http-enabled=true 
      --hostname-strict=false 
      --db-schema=public
    networks:
      - dike-net

  redis:
    image: redis:latest
    container_name: redis_broker
    ports:
      - "6379:6379"
    restart: always
    networks:
      - dike-net

  reverse-proxy:
    image: traefik:v3.0
    command:
      - "--api.insecure=true"
      - "--api.dashboard=true"
      - "--providers.docker=false" 
      - "--providers.file.directory=/etc/traefik/dynamic"
      - "--entrypoints.web.address=:80"
    ports:
      - "80:80"
      - "8081:8080"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro  # <--- FONDAMENTALE
      - ./traefik_dynamic:/etc/traefik/dynamic:ro
    networks:
      - dike-net

  # --- BACKEND SERVICES ---
  api-gateway:
    build:
      context: .
      dockerfile: apps/backend/api-gateway/Dockerfile
    env_file: .env
    environment: &common-env
      VERSION: ${API_GATEWAY_VERSION}
      ENV: ${API_GATEWAY_ENV}
      LOG_LEVEL: ${API_GATEWAY_LOG_LEVEL}
      JWT_SECRET: ${JWT_SECRET}
      KC_BOOTSTRAP_ADMIN_URL: ${KC_BOOTSTRAP_ADMIN_URL}
      REDIS_URL: redis://redis_broker:6379
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.api-gateway.rule=Host(`${API_DIKE_CLOUD_HOST}`)"
      - "traefik.http.routers.api-gateway.entrypoints=web"
      - "traefik.http.services.api-gateway.loadbalancer.server.port=${API_DIKE_CLOUD_PORT}"
    depends_on: [postgres, keycloak, auth-service, profile-service, audit-service]
    networks:
      - dike-net
    volumes:
      - ../../dike/common:/app/dike/contracts
    #   - ../../dike/common:/app/dike/common
    #   - ../../dike/common:/app/dike/communication
    #   - ./auth-service:/app/apps/backend/auth-service
    #   - /app/apps/backend/auth-service/node_modules

  flow-manager:
    build: 
      context: .
      dockerfile: apps/backend/flow-manager/Dockerfile
    env_file: .env
    environment:
      <<: *common-env
      VERSION: ${FLOW_MANAGER_VERSION}
      ENV: ${FLOW_MANAGER_ENV}
      LOG_LEVEL: ${FLOW_MANAGER_LOG_LEVEL}
      APP_NAME: ${FLOW_MANAGER_APP_NAME}
      FLOW_MANAGER_APP_URL: ${FLOW_MANAGER_APP_URL}
      FLOW_MANAGER_BASE_URL: ${FLOW_MANAGER_BASE_URL}
      FLOW_MANAGER_DB_CONNECTION_STR: ${FLOW_MANAGER_DB_CONNECTION_STR}
    depends_on: [postgres, keycloak, auth-service, profile-service, audit-service]
    networks:
      - dike-net
    volumes:
      - ../../dike/common:/app/dike/contracts
      - ../../dike/common:/app/dike/common
      - ../../dike/common:/app/dike/communication
      - ./flow-manager:/app/apps/backend/flow-manager
      - /app/apps/backend/flow-manager/node_modules

  auth-service:
    build: { context: ., dockerfile: apps/backend/auth-service/Dockerfile }
    env_file: .env
    environment:
      <<: *common-env
      AUTH_DB_CONNECTION_STR: ${AUTH_DB_CONNECTION_STR}
    ports: ["8000:8000"]
    depends_on: [postgres, keycloak, audit-service]
    networks:
      - dike-net
    volumes:
      - ../../dike/common:/app/dike/contracts
      - ../../dike/common:/app/dike/common
      - ../../dike/common:/app/dike/communication
      - ./auth-service:/app/apps/backend/auth-service
      - /app/apps/backend/auth-service/node_modules
    working_dir: /app/apps/backend/auth-service

  audit-service:
    build: { context: ., dockerfile: apps/backend/audit-service/Dockerfile }
    env_file: .env
    environment:
      <<: *common-env
      POSTGRES_CONNECTION_STR: ${POSTGRES_CONNECTION_STR}
      AUDIT_DB_CONNECTION_STR: ${AUDIT_DB_CONNECTION_STR}
    ports: ["8001:8001"]
    depends_on: [postgres, redis]
    networks:
      - dike-net
    volumes:
      - ../../dike/common:/app/dike/contracts
      - ../../dike/common:/app/dike/common
      - ../../dike/common:/app/dike/communication
      - /app/node_modules
      - /app/apps/backend/audit-service/node_modules

  profile-service:
    build: { context: ., dockerfile: apps/backend/profile-service/Dockerfile }
    env_file: .env
    environment:
      <<: *common-env
      PROFILE_DB_CONNECTION_STR: ${PROFILE_DB_CONNECTION_STR}
    ports: ["8002:8002"]
    depends_on: [postgres]
    networks:
      - dike-net
    volumes:
      - ../../dike/common:/app/dike/contracts
      - ../../dike/common:/app/dike/common
      - ../../dike/common:/app/dike/communication
      - /app/node_modules
      - /app/apps/backend/profile-service/node_modules

  notification-service:
    build: { context: ., dockerfile: apps/backend/notification-service/Dockerfile }
    env_file: .env
    environment:
      <<: *common-env
      NOTIFICATION_DB_CONNECTION_STR: ${NOTIFICATION_DB_CONNECTION_STR}
    ports: ["8003:8003"]
    networks:
      - dike-net
    volumes:
      - ../../dike/common:/app/dike/contracts
      - ../../dike/common:/app/dike/common
      - ../../dike/common:/app/dike/communication
      - /app/node_modules
      - /app/apps/backend/notification-service/node_modules

  subscription-service:
    build: { context: ., dockerfile: apps/backend/subscription-service/Dockerfile }
    env_file: .env
    environment:
      <<: *common-env
      SUBSCRIPTION_DB_CONNECTION_STR: ${SUBSCRIPTION_DB_CONNECTION_STR}
    ports: ["8004:8004"]
    networks:
      - dike-net
    volumes:
      - ../../dike/common:/app/dike/contracts
      - ../../dike/common:/app/dike/common
      - ../../dike/common:/app/dike/communication
      - /app/node_modules
      - /app/apps/backend/subscription-service/node_modules

  tenant-service:
    build: { context: ., dockerfile: apps/backend/tenant-service/Dockerfile }
    env_file: .env
    environment:
      <<: *common-env
      TENANT_DB_CONNECTION_STR: ${TENANT_DB_CONNECTION_STR}
    ports: ["8005:8005"]
    networks:
      - dike-net
    volumes:
      - ../../dike/common:/app/dike/contracts
      - ../../dike/common:/app/dike/common
      - ../../dike/common:/app/dike/communication
      - /app/node_modules
      - /app/apps/backend/tenant-service/node_modules

  contact-service:
    build: { context: ., dockerfile: apps/backend/contact-service/Dockerfile }
    env_file: .env
    environment:
      <<: *common-env
      CONTACT_DB_CONNECTION_STR: ${CONTACT_DB_CONNECTION_STR}
    ports: ["8006:8006"]
    networks:
      - dike-net
    volumes:
      - ../../dike/common:/app/dike/contracts
      - ../../dike/common:/app/dike/common
      - ../../dike/common:/app/dike/communication
      - /app/node_modules
      - /app/apps/backend/contact-service/node_modules

  import-service:
    build: { context: ., dockerfile: apps/backend/import-service/Dockerfile }
    env_file: .env
    environment:
      <<: *common-env
      IMPORT_DB_CONNECTION_STR: ${IMPORT_DB_CONNECTION_STR}
    ports: ["8007:8007"]
    networks:
      - dike-net
    volumes:
      - ../../dike/common:/app/dike/contracts
      - ../../dike/common:/app/dike/common
      - ../../dike/common:/app/dike/communication
      - /app/node_modules
      - /app/apps/backend/import-service/node_modules

  # --- FRONTEND SERVICES ---
  www:
    build:
      context: .
      dockerfile: apps/frontend/www/Dockerfile
    env_file: .env
    environment:
      <<: *common-env
    ports: ["5172:5172"]
    depends_on:
      keycloak:
        condition: service_healthy
    volumes:
      - ../../dike/common:/app/dike/contracts
      - ../../dike/common:/app/dike/common
      - ../../dike/common:/app/dike/communication
      - /app/node_modules
      - /app/apps/frontend/www/node_modules
    labels:
      - "traefik.enable=true"
      # Router: usa la variabile d'ambiente che punta a www.dike.cloud
      - "traefik.http.routers.www-router.rule=Host(`${WWW_DIKE_CLOUD_HOST}`)"
      - "traefik.http.routers.www-router.entrypoints=web"
      # Servizio: Traefik capisce automaticamente l'IP del container
      - "traefik.http.routers.www-router.service=www"
      - "traefik.http.services.www.loadbalancer.server.port=5172"
    networks:
      - dike-net

  app:
    build: 
      context: .
      dockerfile: apps/frontend/app/Dockerfile
    volumes:
      - ../../dike/common:/app/dike/contracts
      - ../../dike/common:/app/dike/common
      - ../../dike/common:/app/dike/communication
      - /app/node_modules # Protegge le dipendenze installate nel container
      - /app/apps/frontend/app/node_modules # Protegge le dipendenze specifiche
    working_dir: /app/apps/frontend/app # Diciamo a Docker di "entrare" qui
    environment:
      VITE_PORT: 5173
      CHOKIDAR_USEPOLLING: "true"
      WATCHPACK_POLLING: "true"
      <<: *common-env
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.app-router.rule=Host(`${APP_DIKE_CLOUD_HOST}`)"
      - "traefik.http.routers.app-router.entrypoints=web"
      - "traefik.http.services.app-router.loadbalancer.server.port=5173"
    networks:
      - dike-net
    ports:
      - "5173:5173"

networks:
  dike-net:
    driver: bridge

volumes:
  postgres_data: