{% extends "../../layouts/me.njk" %}

{% block rightContent %}
<div direction="column" wrap="nowrap"
	class="Flex__StyledFlex-sc-130isqg-0 jeEsSn ProfileSettingsSkeleton__DynamicContentContainer-postman-app__sc-1bd2840-3 fftUzM "
	data-testid="aether-flex" data-click="">
	<div width="100%" direction="column" wrap="nowrap" class="Flex__StyledFlex-sc-130isqg-0 hRRaPR  "
		data-testid="aether-flex" data-click="">
		<div direction="column" wrap="nowrap" class="Flex__StyledFlex-sc-130isqg-0 iXKDVq  " data-testid="aether-flex"
			data-click="">
			<div direction="row" wrap="nowrap" class="Flex__StyledFlex-sc-130isqg-0 bINBJe  " data-testid="aether-flex"
				data-click="">
				<h1 color="" class="Heading__StyledHeading-sc-16h23s5-0 jzpkpB" data-aether-id="aether-heading"
					data-testid="aether-heading" data-click="">API keys</h1><button class="Button__StyledButton-b8af3e-1 eEQrW"
					data-aether-id="aether-button" data-testid="aether-button" data-click="" data-buttontype="primary"
					type="submit" aria-label="Generate API Key"><span
						class="Button__StyledButtonText-b8af3e-2 liTLwQ aether-button__text">Generate API Key</span></button>
			</div>
			<div class="BlankState__StyledBlankStateWrapper-sc-4dvps6-0 iWoUTa">
				<div width="fit-content" direction="column" wrap="nowrap"
					class="Flex__StyledFlex-sc-130isqg-0 cxYTwF BlankState__StyledBlankState-sc-4dvps6-1 ctKhZW "
					data-testid="aether-blank-state" data-click=""><img height="120" width="140" alt="illustration-no-API-keys"
						src="https://postman.com/_aether-assets/illustrations/light/illustration-no-API-keys.svg"
						data-testid="illustration-no-API-keys" draggable="false" class="aether-illustration "
						style="-webkit-user-drag: none;">
					<div class="BlankState__BlankStateInfo-sc-4dvps6-2 ctbWjH">
						<div>
							<h3 color="" class="Heading__StyledHeading-sc-16h23s5-0 ixGsPC blank-state__title"
								data-aether-id="aether-heading" data-testid="aether-heading" data-click="">No API Keys</h3>
							<p class="Paragraph__StyledParagraph-sc-1fvp2fe-0 dsLnO" data-aether-id="aether-text-paragraph"
								type="para" color="content-color-secondary" data-testid="aether-text">Fetch live Postman data to
								integrate with your build system and toolchain, auto-export to your repository, and even create
								converters. Learn more about <a target="_blank" rel="noreferrer noopener"
									href="https://learning.postman.com/docs/developer/intro-api/#generating-a-postman-api-key"><span
										type="link-default" class="TextLink__StyledTextLink-sc-17llk09-0 cJVKue"
										data-aether-id="aether-text-link" data-testid="aether-text"><span class="aether-link-text">API
											keys</span><i class="Icon__IconContainer-sc-1o81yne-0 bwPFhT" data-testid="aether-icon"><svg
												width="16" height="16" viewBox="0 0 16 16" fill="none">
												<use
													href="/assets/images/../images/iconSprites-9ac54844796b6a62.svg#icon-action-openWeb-stroke">
												</use>
											</svg></i></span></a></p>
						</div>
						<div direction="row" wrap="nowrap" class="Flex__StyledFlex-sc-130isqg-0 ffLWEa  " data-testid="aether-flex"
							data-click="">
							<div direction="column" wrap="nowrap"
								class="Flex__StyledFlex-sc-130isqg-0 cdURen BlankState__ActionsContainer-sc-4dvps6-3 hQqQkI "
								data-testid="aether-flex" data-click=""></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<h2 color=""
		class="Heading__StyledHeading-sc-16h23s5-0 cLFnDW PostmanApiKeysBody__ApiKeysSubheading-postman-app__sc-1akrx0f-2 lcqCUp"
		data-aether-id="aether-heading" data-testid="aether-heading" data-click="">Collection access keys</h2>
	<div width="100%" data-aether-id="aether-table" data-testid="aether-table" data-click=""
		class="Table__StyledTableWrapper-agiy0i-2 ldLSOI">
		<div class="Table__StyledTheadWrapper-agiy0i-3 iAoZOx" style="width: 100%;">
			<table class="Table__StyledTable-agiy0i-5 kwQAaI">
				<colgroup>
					<col style="min-width: 150px;">
					<col style="min-width: 150px;">
					<col style="min-width: 96px;">
					<col style="min-width: 150px;">
					<col style="min-width: 80px;">
				</colgroup>
				<thead class="Table__StyledThead-agiy0i-6 jTUaSc">
					<tr class="Table__StyledRow-agiy0i-8 dYXkUt">
						<th colspan="1" scope="col" class="Table__StyledTh-agiy0i-9 dEhyik">Collection<span
								class="Table__StyledSortIconWrapper-agiy0i-11 jitLkm"></span></th>
						<th colspan="1" scope="col" class="Table__StyledTh-agiy0i-9 dEhyik">Key<span
								class="Table__StyledSortIconWrapper-agiy0i-11 jitLkm"></span></th>
						<th colspan="1" scope="col" class="Table__StyledTh-agiy0i-9 iVQwSD">Created on<span
								class="Table__StyledSortIconWrapper-agiy0i-11 jitLkm"></span></th>
						<th colspan="1" scope="col" class="Table__StyledTh-agiy0i-9 dEhyik">Created by<span
								class="Table__StyledSortIconWrapper-agiy0i-11 jitLkm"></span></th>
						<th colspan="1" scope="col" class="Table__StyledTh-agiy0i-9 bUkQxE"><span
								class="Table__StyledSortIconWrapper-agiy0i-11 jitLkm"></span></th>
					</tr>
				</thead>
			</table>
		</div>
		<section tabindex="0" aria-label="aether-table-Table Body" class="Table__StyledTbodyWrapper-agiy0i-4 cInZuQ">
			<table class="Table__StyledTable-agiy0i-5 kwQAaI">
				<colgroup>
					<col style="min-width: 150px;">
					<col style="min-width: 150px;">
					<col style="min-width: 96px;">
					<col style="min-width: 150px;">
					<col style="min-width: 80px;">
				</colgroup>
				<tbody class="Table__StyledTbody-agiy0i-7 eJukJk"></tbody>
			</table>
			<div class="Table__StyledBlankStateWrapper-agiy0i-13 bwxSxk">
				<div class="BlankState__StyledBlankStateWrapper-sc-4dvps6-0 iWoUTa">
					<div width="fit-content" direction="column" wrap="nowrap"
						class="Flex__StyledFlex-sc-130isqg-0 cxYTwF BlankState__StyledBlankState-sc-4dvps6-1 ctKhZW "
						data-testid="aether-blank-state" data-click=""><img height="120" width="140" alt="illustration-no-API-keys"
							src="https://postman.com/_aether-assets/illustrations/light/illustration-no-API-keys.svg"
							data-testid="illustration-no-API-keys" draggable="false" class="aether-illustration "
							style="-webkit-user-drag: none;">
						<div class="BlankState__BlankStateInfo-sc-4dvps6-2 ctbWjH">
							<div>
								<h3 color="" class="Heading__StyledHeading-sc-16h23s5-0 ixGsPC blank-state__title"
									data-aether-id="aether-heading" data-testid="aether-heading" data-click="">You haven't generated any
									Collection Access Keys yet</h3>
								<p class="Paragraph__StyledParagraph-sc-1fvp2fe-0 dsLnO" data-aether-id="aether-text-paragraph"
									type="para" color="content-color-secondary" data-testid="aether-text">Collection Access Keys allow you
									to securely grant read-only access to a single collection. Share any collection to generate a
									Collection Access Key.</p>
							</div>
							<div direction="row" wrap="nowrap" class="Flex__StyledFlex-sc-130isqg-0 ffLWEa  "
								data-testid="aether-flex" data-click="">
								<div direction="column" wrap="nowrap"
									class="Flex__StyledFlex-sc-130isqg-0 cdURen BlankState__ActionsContainer-sc-4dvps6-3 hQqQkI "
									data-testid="aether-flex" data-click=""></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</div>
{% endblock %}