{% extends "../../layouts/me.njk" %}

{% block rightContent %}
<div direction="column" wrap="nowrap"
	class="Flex__StyledFlex-sc-130isqg-0 jeEsSn ProfileSettingsSkeleton__DynamicContentContainer-postman-app__sc-1bd2840-3 fftUzM "
	data-testid="aether-flex" data-click="">
	<div direction="column" wrap="nowrap" class="Flex__StyledFlex-sc-130isqg-0 dhCMNU  " data-testid="aether-flex"
		data-click="">
		<h1 color="content-color-primary"
			class="Heading__StyledHeading-sc-16h23s5-0 dUPAZF NotificationPreferencesBody__StyledHeading-postman-app__sc-1b50d6y-2 fkTWlt"
			data-aether-id="aether-heading" data-testid="aether-heading" data-click="">Notification preferences</h1>
		<p class="Paragraph__StyledParagraph-sc-1fvp2fe-0 yxomk" data-aether-id="aether-text-lead" type="lead"
			color="content-color-secondary" data-testid="aether-text">Select what and how you want to be notified.</p>
		<div class="ConnectToServiceBanner__StyledBanner-postman-app__sc-1semfnj-0 jPMojg">
			<div direction="column" wrap="nowrap" class="Flex__StyledFlex-sc-130isqg-0 fPRaPD  " data-testid="aether-flex"
				data-click="">
				<div direction="column" wrap="nowrap" class="Flex__StyledFlex-sc-130isqg-0 dhCMNU  " data-testid="aether-flex"
					data-click="">
					<h4 color="" class="Heading__StyledHeading-sc-16h23s5-0 liHdXP" data-aether-id="aether-heading"
						data-testid="aether-heading" data-click="">Get notified in Slack</h4>
					<p class="Paragraph__StyledParagraph-sc-1fvp2fe-0 djQDml" data-aether-id="aether-text-paragraph" type="para"
						color="content-color-primary" data-testid="aether-text">Be informed about what’s happening in Postman
						directly in Slack.</p>
				</div>
				<div direction="row" wrap="nowrap" class="Flex__StyledFlex-sc-130isqg-0 bZBjXw  " data-testid="aether-flex"
					data-click=""><button class="Button__StyledButton-b8af3e-1 kSGFQu" data-aether-id="aether-button"
						data-testid="aether-button" data-click="" data-buttontype="outline" type="submit"
						aria-label="Connect to Slack"><i class="Icon__IconContainer-sc-1o81yne-0 cwWaqP aether-button__left-icon"
							data-testid="aether-icon"><svg width="16" height="16" viewBox="0 0 16 16" fill="none">
								<use href="/assets/images/../images/brandIconSprites-c85a7583108a8749.svg#icon-brandLogo-slack">
								</use>
							</svg></i><span class="Button__StyledButtonText-b8af3e-2 liTLwQ aether-button__text">Connect to
							Slack</span></button></div>
			</div>
		</div>
		<main>
			<div class="NotificationPreferencesBody__StyledPreferencesContainer-postman-app__sc-1b50d6y-0 KJaUa">
				<div
					class="ResponsiveContainer__StyledResponsiveContainerRow-sc-1y2ta6q-1 kNdgyA twelve-wide-column PreferenceHeader__PreferenceTitleRow-postman-app__sc-1i31yq4-0 fuxuUZ"
					type="row" overflow="auto" data-testid="aether-responsive-container" data-click="">
					<div class="ResponsiveContainer__StyledResponsiveContainerColumn-sc-1y2ta6q-0 jTwXlb six-wide-column"
						overflow="auto" data-testid="aether-responsive-container" data-click="">
						<h4 color="content-color-primary" class="Heading__StyledHeading-sc-16h23s5-0 emriuC"
							data-aether-id="aether-heading" data-testid="aether-heading" data-click="">Notification</h4>
					</div>
					<div
						class="ResponsiveContainer__StyledResponsiveContainerColumn-sc-1y2ta6q-0 ecMaHN three-wide-column PreferenceHeader__CenteredResponsiveContainer-postman-app__sc-1i31yq4-1 bgqCZi"
						overflow="auto" data-testid="aether-responsive-container" data-click="">
						<h4 color="content-color-primary" class="Heading__StyledHeading-sc-16h23s5-0 emriuC"
							data-aether-id="aether-heading" data-testid="aether-heading" data-click="">Via email</h4>
					</div>
					<div
						class="ResponsiveContainer__StyledResponsiveContainerColumn-sc-1y2ta6q-0 ecMaHN three-wide-column PreferenceHeader__CenteredResponsiveContainer-postman-app__sc-1i31yq4-1 bgqCZi"
						overflow="auto" data-testid="aether-responsive-container" data-click="">
						<h4 color="content-color-primary" class="Heading__StyledHeading-sc-16h23s5-0 emriuC"
							data-aether-id="aether-heading" data-testid="aether-heading" data-click="">In app</h4>
					</div>
				</div>
				<div class="preference-category-container">
					<h5 color=""
						class="Heading__StyledHeading-sc-16h23s5-0 lhwzxN PreferenceCategory__CategoryName-postman-app__sc-1mnjny3-0 fyDykF"
						data-aether-id="aether-heading" data-testid="aether-heading" data-click="">Postman Summary</h5>
					<div
						class="ResponsiveContainer__StyledResponsiveContainerRow-sc-1y2ta6q-1 BNLZz twelve-wide-column PreferenceCategory__PreferenceRow-postman-app__sc-1mnjny3-1 bvCxtE"
						type="row" overflow="auto" data-testid="aether-responsive-container" data-click="">
						<div class="ResponsiveContainer__StyledResponsiveContainerColumn-sc-1y2ta6q-0 jTwXlb six-wide-column"
							overflow="auto" data-testid="aether-responsive-container" data-click=""><span type="body-medium"
								color="content-color-primary" class="Text__TextContainer-sc-17np7hw-0 bOOqeF"
								data-aether-id="aether-text" data-testid="aether-text">Weekly summary of my Postman usage</span></div>
						<div
							class="ResponsiveContainer__StyledResponsiveContainerColumn-sc-1y2ta6q-0 jTwXlb three-wide-column PreferenceCategory__CheckboxColumn-postman-app__sc-1mnjny3-2 jagimT"
							overflow="auto" data-testid="aether-responsive-container" data-click="">
							<div class="Checkbox__StyledCheckBoxContainer-yn1wyf-4 fJzbJq"><span aria-checked="true" role="checkbox"
									class="Checkbox__StyledCheckBoxActionableContainer-yn1wyf-0 hbxhwo">
									<div label="" type="primary" data-aether-id="aether-checkbox"
										class="Checkbox__StyledIconContainer-yn1wyf-1 dxEJhF"><i color="aether-icon-default-color"
											class="IconWrapper__IconContainer-sc-1b9vcws-0 hCORXv" title=""><svg width="10" height="10"
												viewBox="0 0 10 7" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path fill-rule="evenodd" clip-rule="evenodd"
													d="M9.41421 1.41421L3.70711 7.12132L0 3.41421L1.41421 2L3.70711 4.29289L8 0L9.41421 1.41421Z"
													fill="white"></path>
											</svg></i></div><input data-testid="aether-checkbox" data-click="" label="" type="checkbox"
										class="Checkbox__StyledInputCheckBox-yn1wyf-2 fwqaBO" value="" checked=""><label
										type="optionSelector" data-aether-id="aether-label" data-testid="aether-label" data-click=""
										class="Label__LabelElement-owusvu-1 kTcVuv"></label>
								</span></div>
						</div>
						<div
							class="ResponsiveContainer__StyledResponsiveContainerColumn-sc-1y2ta6q-0 jTwXlb three-wide-column PreferenceCategory__CheckboxColumn-postman-app__sc-1mnjny3-2 jagimT"
							overflow="auto" data-testid="aether-responsive-container" data-click=""> </div>
					</div>
				</div>
				<div class="preference-category-container">
					<h5 color=""
						class="Heading__StyledHeading-sc-16h23s5-0 lhwzxN PreferenceCategory__CategoryName-postman-app__sc-1mnjny3-0 fyDykF"
						data-aether-id="aether-heading" data-testid="aether-heading" data-click="">Team</h5>
					<div
						class="ResponsiveContainer__StyledResponsiveContainerRow-sc-1y2ta6q-1 BNLZz twelve-wide-column PreferenceCategory__PreferenceRow-postman-app__sc-1mnjny3-1 bvCxtE"
						type="row" overflow="auto" data-testid="aether-responsive-container" data-click="">
						<div class="ResponsiveContainer__StyledResponsiveContainerColumn-sc-1y2ta6q-0 jTwXlb six-wide-column"
							overflow="auto" data-testid="aether-responsive-container" data-click=""><span type="body-medium"
								color="content-color-primary" class="Text__TextContainer-sc-17np7hw-0 bOOqeF"
								data-aether-id="aether-text" data-testid="aether-text">Weekly reminders of all requests to join my
								team</span></div>
						<div
							class="ResponsiveContainer__StyledResponsiveContainerColumn-sc-1y2ta6q-0 jTwXlb three-wide-column PreferenceCategory__CheckboxColumn-postman-app__sc-1mnjny3-2 jagimT"
							overflow="auto" data-testid="aether-responsive-container" data-click="">
							<div class="Checkbox__StyledCheckBoxContainer-yn1wyf-4 fJzbJq"><span aria-checked="true" role="checkbox"
									class="Checkbox__StyledCheckBoxActionableContainer-yn1wyf-0 hbxhwo">
									<div label="" type="primary" data-aether-id="aether-checkbox"
										class="Checkbox__StyledIconContainer-yn1wyf-1 dxEJhF"><i color="aether-icon-default-color"
											class="IconWrapper__IconContainer-sc-1b9vcws-0 hCORXv" title=""><svg width="10" height="10"
												viewBox="0 0 10 7" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path fill-rule="evenodd" clip-rule="evenodd"
													d="M9.41421 1.41421L3.70711 7.12132L0 3.41421L1.41421 2L3.70711 4.29289L8 0L9.41421 1.41421Z"
													fill="white"></path>
											</svg></i></div><input data-testid="aether-checkbox" data-click="" label="" type="checkbox"
										class="Checkbox__StyledInputCheckBox-yn1wyf-2 fwqaBO" value="" checked=""><label
										type="optionSelector" data-aether-id="aether-label" data-testid="aether-label" data-click=""
										class="Label__LabelElement-owusvu-1 kTcVuv"></label>
								</span></div>
						</div>
						<div
							class="ResponsiveContainer__StyledResponsiveContainerColumn-sc-1y2ta6q-0 jTwXlb three-wide-column PreferenceCategory__CheckboxColumn-postman-app__sc-1mnjny3-2 jagimT"
							overflow="auto" data-testid="aether-responsive-container" data-click=""> </div>
					</div>
					<div
						class="ResponsiveContainer__StyledResponsiveContainerRow-sc-1y2ta6q-1 BNLZz twelve-wide-column PreferenceCategory__PreferenceRow-postman-app__sc-1mnjny3-1 bvCxtE"
						type="row" overflow="auto" data-testid="aether-responsive-container" data-click="">
						<div class="ResponsiveContainer__StyledResponsiveContainerColumn-sc-1y2ta6q-0 jTwXlb six-wide-column"
							overflow="auto" data-testid="aether-responsive-container" data-click=""><span type="body-medium"
								color="content-color-primary" class="Text__TextContainer-sc-17np7hw-0 bOOqeF"
								data-aether-id="aether-text" data-testid="aether-text">When someone requests to join my team</span>
						</div>
						<div
							class="ResponsiveContainer__StyledResponsiveContainerColumn-sc-1y2ta6q-0 jTwXlb three-wide-column PreferenceCategory__CheckboxColumn-postman-app__sc-1mnjny3-2 jagimT"
							overflow="auto" data-testid="aether-responsive-container" data-click=""> </div>
						<div
							class="ResponsiveContainer__StyledResponsiveContainerColumn-sc-1y2ta6q-0 jTwXlb three-wide-column PreferenceCategory__CheckboxColumn-postman-app__sc-1mnjny3-2 jagimT"
							overflow="auto" data-testid="aether-responsive-container" data-click="">
							<div class="Checkbox__StyledCheckBoxContainer-yn1wyf-4 fJzbJq"><span aria-checked="true" role="checkbox"
									class="Checkbox__StyledCheckBoxActionableContainer-yn1wyf-0 hbxhwo">
									<div label="" type="primary" data-aether-id="aether-checkbox"
										class="Checkbox__StyledIconContainer-yn1wyf-1 dxEJhF"><i color="aether-icon-default-color"
											class="IconWrapper__IconContainer-sc-1b9vcws-0 hCORXv" title=""><svg width="10" height="10"
												viewBox="0 0 10 7" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path fill-rule="evenodd" clip-rule="evenodd"
													d="M9.41421 1.41421L3.70711 7.12132L0 3.41421L1.41421 2L3.70711 4.29289L8 0L9.41421 1.41421Z"
													fill="white"></path>
											</svg></i></div><input data-testid="aether-checkbox" data-click="" label="" type="checkbox"
										class="Checkbox__StyledInputCheckBox-yn1wyf-2 fwqaBO" value="" checked=""><label
										type="optionSelector" data-aether-id="aether-label" data-testid="aether-label" data-click=""
										class="Label__LabelElement-owusvu-1 kTcVuv"></label>
								</span></div>
						</div>
					</div>
				</div>
				<div class="preference-category-container">
					<h5 color=""
						class="Heading__StyledHeading-sc-16h23s5-0 lhwzxN PreferenceCategory__CategoryName-postman-app__sc-1mnjny3-0 fyDykF"
						data-aether-id="aether-heading" data-testid="aether-heading" data-click="">Security</h5>
					<div
						class="ResponsiveContainer__StyledResponsiveContainerRow-sc-1y2ta6q-1 BNLZz twelve-wide-column PreferenceCategory__PreferenceRow-postman-app__sc-1mnjny3-1 bvCxtE"
						type="row" overflow="auto" data-testid="aether-responsive-container" data-click="">
						<div class="ResponsiveContainer__StyledResponsiveContainerColumn-sc-1y2ta6q-0 jTwXlb six-wide-column"
							overflow="auto" data-testid="aether-responsive-container" data-click=""><span type="body-medium"
								color="content-color-primary" class="Text__TextContainer-sc-17np7hw-0 bOOqeF"
								data-aether-id="aether-text" data-testid="aether-text">When I publicly expose tokens</span></div>
						<div
							class="ResponsiveContainer__StyledResponsiveContainerColumn-sc-1y2ta6q-0 jTwXlb three-wide-column PreferenceCategory__CheckboxColumn-postman-app__sc-1mnjny3-2 jagimT"
							overflow="auto" data-testid="aether-responsive-container" data-click=""> </div>
						<div
							class="ResponsiveContainer__StyledResponsiveContainerColumn-sc-1y2ta6q-0 jTwXlb three-wide-column PreferenceCategory__CheckboxColumn-postman-app__sc-1mnjny3-2 jagimT"
							overflow="auto" data-testid="aether-responsive-container" data-click="">
							<div class="Checkbox__StyledCheckBoxContainer-yn1wyf-4 fJzbJq"><span aria-checked="true" role="checkbox"
									class="Checkbox__StyledCheckBoxActionableContainer-yn1wyf-0 hbxhwo">
									<div label="" type="primary" data-aether-id="aether-checkbox"
										class="Checkbox__StyledIconContainer-yn1wyf-1 dxEJhF"><i color="aether-icon-default-color"
											class="IconWrapper__IconContainer-sc-1b9vcws-0 hCORXv" title=""><svg width="10" height="10"
												viewBox="0 0 10 7" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path fill-rule="evenodd" clip-rule="evenodd"
													d="M9.41421 1.41421L3.70711 7.12132L0 3.41421L1.41421 2L3.70711 4.29289L8 0L9.41421 1.41421Z"
													fill="white"></path>
											</svg></i></div><input data-testid="aether-checkbox" data-click="" label="" type="checkbox"
										class="Checkbox__StyledInputCheckBox-yn1wyf-2 fwqaBO" value="" checked=""><label
										type="optionSelector" data-aether-id="aether-label" data-testid="aether-label" data-click=""
										class="Label__LabelElement-owusvu-1 kTcVuv"></label>
								</span></div>
						</div>
					</div>
					<div
						class="ResponsiveContainer__StyledResponsiveContainerRow-sc-1y2ta6q-1 BNLZz twelve-wide-column PreferenceCategory__PreferenceRow-postman-app__sc-1mnjny3-1 bvCxtE"
						type="row" overflow="auto" data-testid="aether-responsive-container" data-click="">
						<div class="ResponsiveContainer__StyledResponsiveContainerColumn-sc-1y2ta6q-0 jTwXlb six-wide-column"
							overflow="auto" data-testid="aether-responsive-container" data-click=""><span type="body-medium"
								color="content-color-primary" class="Text__TextContainer-sc-17np7hw-0 bOOqeF"
								data-aether-id="aether-text" data-testid="aether-text">When I publicly expose Postman API key on GitHub
								or GitLab</span></div>
						<div
							class="ResponsiveContainer__StyledResponsiveContainerColumn-sc-1y2ta6q-0 jTwXlb three-wide-column PreferenceCategory__CheckboxColumn-postman-app__sc-1mnjny3-2 jagimT"
							overflow="auto" data-testid="aether-responsive-container" data-click=""> </div>
						<div
							class="ResponsiveContainer__StyledResponsiveContainerColumn-sc-1y2ta6q-0 jTwXlb three-wide-column PreferenceCategory__CheckboxColumn-postman-app__sc-1mnjny3-2 jagimT"
							overflow="auto" data-testid="aether-responsive-container" data-click="">
							<div class="Checkbox__StyledCheckBoxContainer-yn1wyf-4 fJzbJq"><span aria-checked="true" role="checkbox"
									class="Checkbox__StyledCheckBoxActionableContainer-yn1wyf-0 hbxhwo">
									<div label="" type="primary" data-aether-id="aether-checkbox"
										class="Checkbox__StyledIconContainer-yn1wyf-1 dxEJhF"><i color="aether-icon-default-color"
											class="IconWrapper__IconContainer-sc-1b9vcws-0 hCORXv" title=""><svg width="10" height="10"
												viewBox="0 0 10 7" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path fill-rule="evenodd" clip-rule="evenodd"
													d="M9.41421 1.41421L3.70711 7.12132L0 3.41421L1.41421 2L3.70711 4.29289L8 0L9.41421 1.41421Z"
													fill="white"></path>
											</svg></i></div><input data-testid="aether-checkbox" data-click="" label="" type="checkbox"
										class="Checkbox__StyledInputCheckBox-yn1wyf-2 fwqaBO" value="" checked=""><label
										type="optionSelector" data-aether-id="aether-label" data-testid="aether-label" data-click=""
										class="Label__LabelElement-owusvu-1 kTcVuv"></label>
								</span></div>
						</div>
					</div>
				</div>
				<div class="preference-category-container">
					<h5 color=""
						class="Heading__StyledHeading-sc-16h23s5-0 lhwzxN PreferenceCategory__CategoryName-postman-app__sc-1mnjny3-0 fyDykF"
						data-aether-id="aether-heading" data-testid="aether-heading" data-click="">Private Network APIs</h5>
					<div
						class="ResponsiveContainer__StyledResponsiveContainerRow-sc-1y2ta6q-1 BNLZz twelve-wide-column PreferenceCategory__PreferenceRow-postman-app__sc-1mnjny3-1 bvCxtE"
						type="row" overflow="auto" data-testid="aether-responsive-container" data-click="">
						<div class="ResponsiveContainer__StyledResponsiveContainerColumn-sc-1y2ta6q-0 jTwXlb six-wide-column"
							overflow="auto" data-testid="aether-responsive-container" data-click=""><span type="body-medium"
								color="content-color-primary" class="Text__TextContainer-sc-17np7hw-0 bOOqeF"
								data-aether-id="aether-text" data-testid="aether-text">Monthly summary of my APIs</span></div>
						<div
							class="ResponsiveContainer__StyledResponsiveContainerColumn-sc-1y2ta6q-0 jTwXlb three-wide-column PreferenceCategory__CheckboxColumn-postman-app__sc-1mnjny3-2 jagimT"
							overflow="auto" data-testid="aether-responsive-container" data-click="">
							<div class="Checkbox__StyledCheckBoxContainer-yn1wyf-4 fJzbJq"><span aria-checked="true" role="checkbox"
									class="Checkbox__StyledCheckBoxActionableContainer-yn1wyf-0 hbxhwo">
									<div label="" type="primary" data-aether-id="aether-checkbox"
										class="Checkbox__StyledIconContainer-yn1wyf-1 dxEJhF"><i color="aether-icon-default-color"
											class="IconWrapper__IconContainer-sc-1b9vcws-0 hCORXv" title=""><svg width="10" height="10"
												viewBox="0 0 10 7" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path fill-rule="evenodd" clip-rule="evenodd"
													d="M9.41421 1.41421L3.70711 7.12132L0 3.41421L1.41421 2L3.70711 4.29289L8 0L9.41421 1.41421Z"
													fill="white"></path>
											</svg></i></div><input data-testid="aether-checkbox" data-click="" label="" type="checkbox"
										class="Checkbox__StyledInputCheckBox-yn1wyf-2 fwqaBO" value="" checked=""><label
										type="optionSelector" data-aether-id="aether-label" data-testid="aether-label" data-click=""
										class="Label__LabelElement-owusvu-1 kTcVuv"></label>
								</span></div>
						</div>
						<div
							class="ResponsiveContainer__StyledResponsiveContainerColumn-sc-1y2ta6q-0 jTwXlb three-wide-column PreferenceCategory__CheckboxColumn-postman-app__sc-1mnjny3-2 jagimT"
							overflow="auto" data-testid="aether-responsive-container" data-click=""> </div>
					</div>
					<div
						class="ResponsiveContainer__StyledResponsiveContainerRow-sc-1y2ta6q-1 BNLZz twelve-wide-column PreferenceCategory__PreferenceRow-postman-app__sc-1mnjny3-1 bvCxtE"
						type="row" overflow="auto" data-testid="aether-responsive-container" data-click="">
						<div class="ResponsiveContainer__StyledResponsiveContainerColumn-sc-1y2ta6q-0 jTwXlb six-wide-column"
							overflow="auto" data-testid="aether-responsive-container" data-click=""><span type="body-medium"
								color="content-color-primary" class="Text__TextContainer-sc-17np7hw-0 bOOqeF"
								data-aether-id="aether-text" data-testid="aether-text">Weekly summary of new APIs and API
								versions</span></div>
						<div
							class="ResponsiveContainer__StyledResponsiveContainerColumn-sc-1y2ta6q-0 jTwXlb three-wide-column PreferenceCategory__CheckboxColumn-postman-app__sc-1mnjny3-2 jagimT"
							overflow="auto" data-testid="aether-responsive-container" data-click="">
							<div class="Checkbox__StyledCheckBoxContainer-yn1wyf-4 fJzbJq"><span aria-checked="true" role="checkbox"
									class="Checkbox__StyledCheckBoxActionableContainer-yn1wyf-0 hbxhwo">
									<div label="" type="primary" data-aether-id="aether-checkbox"
										class="Checkbox__StyledIconContainer-yn1wyf-1 dxEJhF"><i color="aether-icon-default-color"
											class="IconWrapper__IconContainer-sc-1b9vcws-0 hCORXv" title=""><svg width="10" height="10"
												viewBox="0 0 10 7" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path fill-rule="evenodd" clip-rule="evenodd"
													d="M9.41421 1.41421L3.70711 7.12132L0 3.41421L1.41421 2L3.70711 4.29289L8 0L9.41421 1.41421Z"
													fill="white"></path>
											</svg></i></div><input data-testid="aether-checkbox" data-click="" label="" type="checkbox"
										class="Checkbox__StyledInputCheckBox-yn1wyf-2 fwqaBO" value="" checked=""><label
										type="optionSelector" data-aether-id="aether-label" data-testid="aether-label" data-click=""
										class="Label__LabelElement-owusvu-1 kTcVuv"></label>
								</span></div>
						</div>
						<div
							class="ResponsiveContainer__StyledResponsiveContainerColumn-sc-1y2ta6q-0 jTwXlb three-wide-column PreferenceCategory__CheckboxColumn-postman-app__sc-1mnjny3-2 jagimT"
							overflow="auto" data-testid="aether-responsive-container" data-click=""> </div>
					</div>
				</div>
				<div class="preference-category-container">
					<h5 color=""
						class="Heading__StyledHeading-sc-16h23s5-0 lhwzxN PreferenceCategory__CategoryName-postman-app__sc-1mnjny3-0 fyDykF"
						data-aether-id="aether-heading" data-testid="aether-heading" data-click="">Public API Network</h5>
					<div
						class="ResponsiveContainer__StyledResponsiveContainerRow-sc-1y2ta6q-1 BNLZz twelve-wide-column PreferenceCategory__PreferenceRow-postman-app__sc-1mnjny3-1 bvCxtE"
						type="row" overflow="auto" data-testid="aether-responsive-container" data-click="">
						<div class="ResponsiveContainer__StyledResponsiveContainerColumn-sc-1y2ta6q-0 jTwXlb six-wide-column"
							overflow="auto" data-testid="aether-responsive-container" data-click=""><span type="body-medium"
								color="content-color-primary" class="Text__TextContainer-sc-17np7hw-0 bOOqeF"
								data-aether-id="aether-text" data-testid="aether-text">Monthly insights for public workspaces</span>
						</div>
						<div
							class="ResponsiveContainer__StyledResponsiveContainerColumn-sc-1y2ta6q-0 jTwXlb three-wide-column PreferenceCategory__CheckboxColumn-postman-app__sc-1mnjny3-2 jagimT"
							overflow="auto" data-testid="aether-responsive-container" data-click="">
							<div class="Checkbox__StyledCheckBoxContainer-yn1wyf-4 fJzbJq"><span aria-checked="true" role="checkbox"
									class="Checkbox__StyledCheckBoxActionableContainer-yn1wyf-0 hbxhwo">
									<div label="" type="primary" data-aether-id="aether-checkbox"
										class="Checkbox__StyledIconContainer-yn1wyf-1 dxEJhF"><i color="aether-icon-default-color"
											class="IconWrapper__IconContainer-sc-1b9vcws-0 hCORXv" title=""><svg width="10" height="10"
												viewBox="0 0 10 7" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path fill-rule="evenodd" clip-rule="evenodd"
													d="M9.41421 1.41421L3.70711 7.12132L0 3.41421L1.41421 2L3.70711 4.29289L8 0L9.41421 1.41421Z"
													fill="white"></path>
											</svg></i></div><input data-testid="aether-checkbox" data-click="" label="" type="checkbox"
										class="Checkbox__StyledInputCheckBox-yn1wyf-2 fwqaBO" value="" checked=""><label
										type="optionSelector" data-aether-id="aether-label" data-testid="aether-label" data-click=""
										class="Label__LabelElement-owusvu-1 kTcVuv"></label>
								</span></div>
						</div>
						<div
							class="ResponsiveContainer__StyledResponsiveContainerColumn-sc-1y2ta6q-0 jTwXlb three-wide-column PreferenceCategory__CheckboxColumn-postman-app__sc-1mnjny3-2 jagimT"
							overflow="auto" data-testid="aether-responsive-container" data-click=""> </div>
					</div>
					<div
						class="ResponsiveContainer__StyledResponsiveContainerRow-sc-1y2ta6q-1 BNLZz twelve-wide-column PreferenceCategory__PreferenceRow-postman-app__sc-1mnjny3-1 bvCxtE"
						type="row" overflow="auto" data-testid="aether-responsive-container" data-click="">
						<div class="ResponsiveContainer__StyledResponsiveContainerColumn-sc-1y2ta6q-0 jTwXlb six-wide-column"
							overflow="auto" data-testid="aether-responsive-container" data-click=""><span type="body-medium"
								color="content-color-primary" class="Text__TextContainer-sc-17np7hw-0 bOOqeF"
								data-aether-id="aether-text" data-testid="aether-text">Updates about my published APIs</span></div>
						<div
							class="ResponsiveContainer__StyledResponsiveContainerColumn-sc-1y2ta6q-0 jTwXlb three-wide-column PreferenceCategory__CheckboxColumn-postman-app__sc-1mnjny3-2 jagimT"
							overflow="auto" data-testid="aether-responsive-container" data-click="">
							<div class="Checkbox__StyledCheckBoxContainer-yn1wyf-4 fJzbJq"><span aria-checked="true" role="checkbox"
									class="Checkbox__StyledCheckBoxActionableContainer-yn1wyf-0 hbxhwo">
									<div label="" type="primary" data-aether-id="aether-checkbox"
										class="Checkbox__StyledIconContainer-yn1wyf-1 dxEJhF"><i color="aether-icon-default-color"
											class="IconWrapper__IconContainer-sc-1b9vcws-0 hCORXv" title=""><svg width="10" height="10"
												viewBox="0 0 10 7" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path fill-rule="evenodd" clip-rule="evenodd"
													d="M9.41421 1.41421L3.70711 7.12132L0 3.41421L1.41421 2L3.70711 4.29289L8 0L9.41421 1.41421Z"
													fill="white"></path>
											</svg></i></div><input data-testid="aether-checkbox" data-click="" label="" type="checkbox"
										class="Checkbox__StyledInputCheckBox-yn1wyf-2 fwqaBO" value="" checked=""><label
										type="optionSelector" data-aether-id="aether-label" data-testid="aether-label" data-click=""
										class="Label__LabelElement-owusvu-1 kTcVuv"></label>
								</span></div>
						</div>
						<div
							class="ResponsiveContainer__StyledResponsiveContainerColumn-sc-1y2ta6q-0 jTwXlb three-wide-column PreferenceCategory__CheckboxColumn-postman-app__sc-1mnjny3-2 jagimT"
							overflow="auto" data-testid="aether-responsive-container" data-click=""> </div>
					</div>
				</div>
				<div class="preference-category-container">
					<h5 color=""
						class="Heading__StyledHeading-sc-16h23s5-0 lhwzxN PreferenceCategory__CategoryName-postman-app__sc-1mnjny3-0 fyDykF"
						data-aether-id="aether-heading" data-testid="aether-heading" data-click="">Insights</h5>
					<div
						class="ResponsiveContainer__StyledResponsiveContainerRow-sc-1y2ta6q-1 BNLZz twelve-wide-column PreferenceCategory__PreferenceRow-postman-app__sc-1mnjny3-1 bvCxtE"
						type="row" overflow="auto" data-testid="aether-responsive-container" data-click="">
						<div class="ResponsiveContainer__StyledResponsiveContainerColumn-sc-1y2ta6q-0 jTwXlb six-wide-column"
							overflow="auto" data-testid="aether-responsive-container" data-click=""><span type="body-medium"
								color="content-color-primary" class="Text__TextContainer-sc-17np7hw-0 bOOqeF"
								data-aether-id="aether-text" data-testid="aether-text">Weekly summary of all my insights projects</span>
						</div>
						<div
							class="ResponsiveContainer__StyledResponsiveContainerColumn-sc-1y2ta6q-0 jTwXlb three-wide-column PreferenceCategory__CheckboxColumn-postman-app__sc-1mnjny3-2 jagimT"
							overflow="auto" data-testid="aether-responsive-container" data-click="">
							<div class="Checkbox__StyledCheckBoxContainer-yn1wyf-4 fJzbJq"><span aria-checked="true" role="checkbox"
									class="Checkbox__StyledCheckBoxActionableContainer-yn1wyf-0 hbxhwo">
									<div label="" type="primary" data-aether-id="aether-checkbox"
										class="Checkbox__StyledIconContainer-yn1wyf-1 dxEJhF"><i color="aether-icon-default-color"
											class="IconWrapper__IconContainer-sc-1b9vcws-0 hCORXv" title=""><svg width="10" height="10"
												viewBox="0 0 10 7" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path fill-rule="evenodd" clip-rule="evenodd"
													d="M9.41421 1.41421L3.70711 7.12132L0 3.41421L1.41421 2L3.70711 4.29289L8 0L9.41421 1.41421Z"
													fill="white"></path>
											</svg></i></div><input data-testid="aether-checkbox" data-click="" label="" type="checkbox"
										class="Checkbox__StyledInputCheckBox-yn1wyf-2 fwqaBO" value="" checked=""><label
										type="optionSelector" data-aether-id="aether-label" data-testid="aether-label" data-click=""
										class="Label__LabelElement-owusvu-1 kTcVuv"></label>
								</span></div>
						</div>
						<div
							class="ResponsiveContainer__StyledResponsiveContainerColumn-sc-1y2ta6q-0 jTwXlb three-wide-column PreferenceCategory__CheckboxColumn-postman-app__sc-1mnjny3-2 jagimT"
							overflow="auto" data-testid="aether-responsive-container" data-click=""> </div>
					</div>
				</div>
				<div class="preference-category-container">
					<h5 color=""
						class="Heading__StyledHeading-sc-16h23s5-0 lhwzxN PreferenceCategory__CategoryName-postman-app__sc-1mnjny3-0 fyDykF"
						data-aether-id="aether-heading" data-testid="aether-heading" data-click="">Monitors</h5>
					<div
						class="ResponsiveContainer__StyledResponsiveContainerRow-sc-1y2ta6q-1 BNLZz twelve-wide-column PreferenceCategory__PreferenceRow-postman-app__sc-1mnjny3-1 bvCxtE"
						type="row" overflow="auto" data-testid="aether-responsive-container" data-click="">
						<div class="ResponsiveContainer__StyledResponsiveContainerColumn-sc-1y2ta6q-0 jTwXlb six-wide-column"
							overflow="auto" data-testid="aether-responsive-container" data-click=""><span type="body-medium"
								color="content-color-primary" class="Text__TextContainer-sc-17np7hw-0 bOOqeF"
								data-aether-id="aether-text" data-testid="aether-text">Daily summaries of all my monitors</span></div>
						<div
							class="ResponsiveContainer__StyledResponsiveContainerColumn-sc-1y2ta6q-0 jTwXlb three-wide-column PreferenceCategory__CheckboxColumn-postman-app__sc-1mnjny3-2 jagimT"
							overflow="auto" data-testid="aether-responsive-container" data-click="">
							<div class="Checkbox__StyledCheckBoxContainer-yn1wyf-4 fJzbJq"><span aria-checked="true" role="checkbox"
									class="Checkbox__StyledCheckBoxActionableContainer-yn1wyf-0 hbxhwo">
									<div label="" type="primary" data-aether-id="aether-checkbox"
										class="Checkbox__StyledIconContainer-yn1wyf-1 dxEJhF"><i color="aether-icon-default-color"
											class="IconWrapper__IconContainer-sc-1b9vcws-0 hCORXv" title=""><svg width="10" height="10"
												viewBox="0 0 10 7" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path fill-rule="evenodd" clip-rule="evenodd"
													d="M9.41421 1.41421L3.70711 7.12132L0 3.41421L1.41421 2L3.70711 4.29289L8 0L9.41421 1.41421Z"
													fill="white"></path>
											</svg></i></div><input data-testid="aether-checkbox" data-click="" label="" type="checkbox"
										class="Checkbox__StyledInputCheckBox-yn1wyf-2 fwqaBO" value="" checked=""><label
										type="optionSelector" data-aether-id="aether-label" data-testid="aether-label" data-click=""
										class="Label__LabelElement-owusvu-1 kTcVuv"></label>
								</span></div>
						</div>
						<div
							class="ResponsiveContainer__StyledResponsiveContainerColumn-sc-1y2ta6q-0 jTwXlb three-wide-column PreferenceCategory__CheckboxColumn-postman-app__sc-1mnjny3-2 jagimT"
							overflow="auto" data-testid="aether-responsive-container" data-click=""> </div>
					</div>
					<div
						class="ResponsiveContainer__StyledResponsiveContainerRow-sc-1y2ta6q-1 BNLZz twelve-wide-column PreferenceCategory__PreferenceRow-postman-app__sc-1mnjny3-1 bvCxtE"
						type="row" overflow="auto" data-testid="aether-responsive-container" data-click="">
						<div class="ResponsiveContainer__StyledResponsiveContainerColumn-sc-1y2ta6q-0 jTwXlb six-wide-column"
							overflow="auto" data-testid="aether-responsive-container" data-click=""><span type="body-medium"
								color="content-color-primary" class="Text__TextContainer-sc-17np7hw-0 bOOqeF"
								data-aether-id="aether-text" data-testid="aether-text">Weekly summaries of all my monitors</span></div>
						<div
							class="ResponsiveContainer__StyledResponsiveContainerColumn-sc-1y2ta6q-0 jTwXlb three-wide-column PreferenceCategory__CheckboxColumn-postman-app__sc-1mnjny3-2 jagimT"
							overflow="auto" data-testid="aether-responsive-container" data-click="">
							<div class="Checkbox__StyledCheckBoxContainer-yn1wyf-4 fJzbJq"><span aria-checked="true" role="checkbox"
									class="Checkbox__StyledCheckBoxActionableContainer-yn1wyf-0 hbxhwo">
									<div label="" type="primary" data-aether-id="aether-checkbox"
										class="Checkbox__StyledIconContainer-yn1wyf-1 dxEJhF"><i color="aether-icon-default-color"
											class="IconWrapper__IconContainer-sc-1b9vcws-0 hCORXv" title=""><svg width="10" height="10"
												viewBox="0 0 10 7" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path fill-rule="evenodd" clip-rule="evenodd"
													d="M9.41421 1.41421L3.70711 7.12132L0 3.41421L1.41421 2L3.70711 4.29289L8 0L9.41421 1.41421Z"
													fill="white"></path>
											</svg></i></div><input data-testid="aether-checkbox" data-click="" label="" type="checkbox"
										class="Checkbox__StyledInputCheckBox-yn1wyf-2 fwqaBO" value="" checked=""><label
										type="optionSelector" data-aether-id="aether-label" data-testid="aether-label" data-click=""
										class="Label__LabelElement-owusvu-1 kTcVuv"></label>
								</span></div>
						</div>
						<div
							class="ResponsiveContainer__StyledResponsiveContainerColumn-sc-1y2ta6q-0 jTwXlb three-wide-column PreferenceCategory__CheckboxColumn-postman-app__sc-1mnjny3-2 jagimT"
							overflow="auto" data-testid="aether-responsive-container" data-click=""> </div>
					</div>
					<div
						class="ResponsiveContainer__StyledResponsiveContainerRow-sc-1y2ta6q-1 BNLZz twelve-wide-column PreferenceCategory__PreferenceRow-postman-app__sc-1mnjny3-1 bvCxtE"
						type="row" overflow="auto" data-testid="aether-responsive-container" data-click="">
						<div class="ResponsiveContainer__StyledResponsiveContainerColumn-sc-1y2ta6q-0 jTwXlb six-wide-column"
							overflow="auto" data-testid="aether-responsive-container" data-click=""><span type="body-medium"
								color="content-color-primary" class="Text__TextContainer-sc-17np7hw-0 bOOqeF"
								data-aether-id="aether-text" data-testid="aether-text">System events that affect scheduled runs</span>
						</div>
						<div
							class="ResponsiveContainer__StyledResponsiveContainerColumn-sc-1y2ta6q-0 jTwXlb three-wide-column PreferenceCategory__CheckboxColumn-postman-app__sc-1mnjny3-2 jagimT"
							overflow="auto" data-testid="aether-responsive-container" data-click="">
							<div class="Checkbox__StyledCheckBoxContainer-yn1wyf-4 fJzbJq"><span aria-checked="true" role="checkbox"
									class="Checkbox__StyledCheckBoxActionableContainer-yn1wyf-0 hbxhwo">
									<div label="" type="primary" data-aether-id="aether-checkbox"
										class="Checkbox__StyledIconContainer-yn1wyf-1 dxEJhF"><i color="aether-icon-default-color"
											class="IconWrapper__IconContainer-sc-1b9vcws-0 hCORXv" title=""><svg width="10" height="10"
												viewBox="0 0 10 7" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path fill-rule="evenodd" clip-rule="evenodd"
													d="M9.41421 1.41421L3.70711 7.12132L0 3.41421L1.41421 2L3.70711 4.29289L8 0L9.41421 1.41421Z"
													fill="white"></path>
											</svg></i></div><input data-testid="aether-checkbox" data-click="" label="" type="checkbox"
										class="Checkbox__StyledInputCheckBox-yn1wyf-2 fwqaBO" value="" checked=""><label
										type="optionSelector" data-aether-id="aether-label" data-testid="aether-label" data-click=""
										class="Label__LabelElement-owusvu-1 kTcVuv"></label>
								</span></div>
						</div>
						<div
							class="ResponsiveContainer__StyledResponsiveContainerColumn-sc-1y2ta6q-0 jTwXlb three-wide-column PreferenceCategory__CheckboxColumn-postman-app__sc-1mnjny3-2 jagimT"
							overflow="auto" data-testid="aether-responsive-container" data-click="">
							<div class="Checkbox__StyledCheckBoxContainer-yn1wyf-4 fJzbJq"><span aria-checked="true" role="checkbox"
									class="Checkbox__StyledCheckBoxActionableContainer-yn1wyf-0 hbxhwo">
									<div label="" type="primary" data-aether-id="aether-checkbox"
										class="Checkbox__StyledIconContainer-yn1wyf-1 dxEJhF"><i color="aether-icon-default-color"
											class="IconWrapper__IconContainer-sc-1b9vcws-0 hCORXv" title=""><svg width="10" height="10"
												viewBox="0 0 10 7" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path fill-rule="evenodd" clip-rule="evenodd"
													d="M9.41421 1.41421L3.70711 7.12132L0 3.41421L1.41421 2L3.70711 4.29289L8 0L9.41421 1.41421Z"
													fill="white"></path>
											</svg></i></div><input data-testid="aether-checkbox" data-click="" label="" type="checkbox"
										class="Checkbox__StyledInputCheckBox-yn1wyf-2 fwqaBO" value="" checked=""><label
										type="optionSelector" data-aether-id="aether-label" data-testid="aether-label" data-click=""
										class="Label__LabelElement-owusvu-1 kTcVuv"></label>
								</span></div>
						</div>
					</div>
				</div>
				<div class="preference-category-container">
					<h5 color=""
						class="Heading__StyledHeading-sc-16h23s5-0 lhwzxN PreferenceCategory__CategoryName-postman-app__sc-1mnjny3-0 fyDykF"
						data-aether-id="aether-heading" data-testid="aether-heading" data-click="">Comments</h5>
					<div
						class="ResponsiveContainer__StyledResponsiveContainerRow-sc-1y2ta6q-1 BNLZz twelve-wide-column PreferenceCategory__PreferenceRow-postman-app__sc-1mnjny3-1 bvCxtE"
						type="row" overflow="auto" data-testid="aether-responsive-container" data-click="">
						<div class="ResponsiveContainer__StyledResponsiveContainerColumn-sc-1y2ta6q-0 jTwXlb six-wide-column"
							overflow="auto" data-testid="aether-responsive-container" data-click=""><span type="body-medium"
								color="content-color-primary" class="Text__TextContainer-sc-17np7hw-0 bOOqeF"
								data-aether-id="aether-text" data-testid="aether-text">When someone replies to my comment</span></div>
						<div
							class="ResponsiveContainer__StyledResponsiveContainerColumn-sc-1y2ta6q-0 jTwXlb three-wide-column PreferenceCategory__CheckboxColumn-postman-app__sc-1mnjny3-2 jagimT"
							overflow="auto" data-testid="aether-responsive-container" data-click="">
							<div class="Checkbox__StyledCheckBoxContainer-yn1wyf-4 fJzbJq"><span aria-checked="true" role="checkbox"
									class="Checkbox__StyledCheckBoxActionableContainer-yn1wyf-0 hbxhwo">
									<div label="" type="primary" data-aether-id="aether-checkbox"
										class="Checkbox__StyledIconContainer-yn1wyf-1 dxEJhF"><i color="aether-icon-default-color"
											class="IconWrapper__IconContainer-sc-1b9vcws-0 hCORXv" title=""><svg width="10" height="10"
												viewBox="0 0 10 7" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path fill-rule="evenodd" clip-rule="evenodd"
													d="M9.41421 1.41421L3.70711 7.12132L0 3.41421L1.41421 2L3.70711 4.29289L8 0L9.41421 1.41421Z"
													fill="white"></path>
											</svg></i></div><input data-testid="aether-checkbox" data-click="" label="" type="checkbox"
										class="Checkbox__StyledInputCheckBox-yn1wyf-2 fwqaBO" value="" checked=""><label
										type="optionSelector" data-aether-id="aether-label" data-testid="aether-label" data-click=""
										class="Label__LabelElement-owusvu-1 kTcVuv"></label>
								</span></div>
						</div>
						<div
							class="ResponsiveContainer__StyledResponsiveContainerColumn-sc-1y2ta6q-0 jTwXlb three-wide-column PreferenceCategory__CheckboxColumn-postman-app__sc-1mnjny3-2 jagimT"
							overflow="auto" data-testid="aether-responsive-container" data-click="">
							<div class="Checkbox__StyledCheckBoxContainer-yn1wyf-4 fJzbJq"><span aria-checked="true" role="checkbox"
									class="Checkbox__StyledCheckBoxActionableContainer-yn1wyf-0 hbxhwo">
									<div label="" type="primary" data-aether-id="aether-checkbox"
										class="Checkbox__StyledIconContainer-yn1wyf-1 dxEJhF"><i color="aether-icon-default-color"
											class="IconWrapper__IconContainer-sc-1b9vcws-0 hCORXv" title=""><svg width="10" height="10"
												viewBox="0 0 10 7" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path fill-rule="evenodd" clip-rule="evenodd"
													d="M9.41421 1.41421L3.70711 7.12132L0 3.41421L1.41421 2L3.70711 4.29289L8 0L9.41421 1.41421Z"
													fill="white"></path>
											</svg></i></div><input data-testid="aether-checkbox" data-click="" label="" type="checkbox"
										class="Checkbox__StyledInputCheckBox-yn1wyf-2 fwqaBO" value="" checked=""><label
										type="optionSelector" data-aether-id="aether-label" data-testid="aether-label" data-click=""
										class="Label__LabelElement-owusvu-1 kTcVuv"></label>
								</span></div>
						</div>
					</div>
					<div
						class="ResponsiveContainer__StyledResponsiveContainerRow-sc-1y2ta6q-1 BNLZz twelve-wide-column PreferenceCategory__PreferenceRow-postman-app__sc-1mnjny3-1 bvCxtE"
						type="row" overflow="auto" data-testid="aether-responsive-container" data-click="">
						<div class="ResponsiveContainer__StyledResponsiveContainerColumn-sc-1y2ta6q-0 jTwXlb six-wide-column"
							overflow="auto" data-testid="aether-responsive-container" data-click=""><span type="body-medium"
								color="content-color-primary" class="Text__TextContainer-sc-17np7hw-0 bOOqeF"
								data-aether-id="aether-text" data-testid="aether-text">When I'm mentioned in a comment</span></div>
						<div
							class="ResponsiveContainer__StyledResponsiveContainerColumn-sc-1y2ta6q-0 jTwXlb three-wide-column PreferenceCategory__CheckboxColumn-postman-app__sc-1mnjny3-2 jagimT"
							overflow="auto" data-testid="aether-responsive-container" data-click="">
							<div class="Checkbox__StyledCheckBoxContainer-yn1wyf-4 fJzbJq"><span aria-checked="true" role="checkbox"
									class="Checkbox__StyledCheckBoxActionableContainer-yn1wyf-0 hbxhwo">
									<div label="" type="primary" data-aether-id="aether-checkbox"
										class="Checkbox__StyledIconContainer-yn1wyf-1 dxEJhF"><i color="aether-icon-default-color"
											class="IconWrapper__IconContainer-sc-1b9vcws-0 hCORXv" title=""><svg width="10" height="10"
												viewBox="0 0 10 7" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path fill-rule="evenodd" clip-rule="evenodd"
													d="M9.41421 1.41421L3.70711 7.12132L0 3.41421L1.41421 2L3.70711 4.29289L8 0L9.41421 1.41421Z"
													fill="white"></path>
											</svg></i></div><input data-testid="aether-checkbox" data-click="" label="" type="checkbox"
										class="Checkbox__StyledInputCheckBox-yn1wyf-2 fwqaBO" value="" checked=""><label
										type="optionSelector" data-aether-id="aether-label" data-testid="aether-label" data-click=""
										class="Label__LabelElement-owusvu-1 kTcVuv"></label>
								</span></div>
						</div>
						<div
							class="ResponsiveContainer__StyledResponsiveContainerColumn-sc-1y2ta6q-0 jTwXlb three-wide-column PreferenceCategory__CheckboxColumn-postman-app__sc-1mnjny3-2 jagimT"
							overflow="auto" data-testid="aether-responsive-container" data-click="">
							<div class="Checkbox__StyledCheckBoxContainer-yn1wyf-4 fJzbJq"><span aria-checked="true" role="checkbox"
									class="Checkbox__StyledCheckBoxActionableContainer-yn1wyf-0 hbxhwo">
									<div label="" type="primary" data-aether-id="aether-checkbox"
										class="Checkbox__StyledIconContainer-yn1wyf-1 dxEJhF"><i color="aether-icon-default-color"
											class="IconWrapper__IconContainer-sc-1b9vcws-0 hCORXv" title=""><svg width="10" height="10"
												viewBox="0 0 10 7" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path fill-rule="evenodd" clip-rule="evenodd"
													d="M9.41421 1.41421L3.70711 7.12132L0 3.41421L1.41421 2L3.70711 4.29289L8 0L9.41421 1.41421Z"
													fill="white"></path>
											</svg></i></div><input data-testid="aether-checkbox" data-click="" label="" type="checkbox"
										class="Checkbox__StyledInputCheckBox-yn1wyf-2 fwqaBO" value="" checked=""><label
										type="optionSelector" data-aether-id="aether-label" data-testid="aether-label" data-click=""
										class="Label__LabelElement-owusvu-1 kTcVuv"></label>
								</span></div>
						</div>
					</div>
				</div>
			</div>
			<div direction="row" wrap="nowrap" class="Flex__StyledFlex-sc-130isqg-0 bOLJpl  " data-testid="aether-flex"
				data-click=""><button disabled="" class="Button__StyledButton-b8af3e-1 eEQrW" data-aether-id="aether-button"
					data-testid="aether-button" data-click="" data-buttontype="primary" type="submit"
					aria-label="Update Preferences"><span
						class="Button__StyledButtonText-b8af3e-2 liTLwQ aether-button__text">Update Preferences</span></button>
			</div>
		</main>
	</div>
</div>
{% endblock %}