.layout {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.mainContent {
  position: fixed;
  top: 60px;
  left: 260px;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  background-color: #f5f5f5;
}

.mainContent.collapsed {
  left: 60px;
}
