{% extends "./base.njk" %}

{% block content %}
  <div class="ProfileSettingsSkeleton__StickyContainerWrapper-postman-app__sc-1bd2840-0 bHywOA">
		<div style="position: sticky; top: 0px;">
			<div direction="row" wrap="nowrap"
				class="Flex__StyledFlex-sc-130isqg-0 eKVBRD ProfileSettingsSkeleton__NavigationBarContainer-postman-app__sc-1bd2840-2 koIIaU "
				data-testid="aether-flex" data-click="">
				<div class="SettingsNavBar__NavigationBar-postman-app__sc-1l4nzet-2 jZFRaU">
					<div direction="row" wrap="nowrap" class="Flex__StyledFlex-sc-130isqg-0 eARoVY  " data-testid="aether-flex" data-click=""><span type="user" class="Avatar__StyledAvatar-sc-1l4mik6-0 kCBFks" data-aether-id="aether-avatar" data-testid="aether-avatar" data-click="">
							<svg style="display: none;" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%"
								viewBox="0 0 24 24" class="default-avatars__StyledSVG2-sc-1woz0vr-2 DvDtU default-avatar-02">
								<defs>
									<clipPath id="clip-path">
										<ellipse class="cls-1" cx="12.01" cy="12.03" rx="11.99" ry="11.97"></ellipse>
									</clipPath>
								</defs>
								<ellipse class="cls-2" cx="12.01" cy="12.03" rx="11.99" ry="11.97"></ellipse>
								<ellipse class="cls-1" cx="11.99" cy="11.97" rx="11.99" ry="11.97"></ellipse>
								<g class="cls-3">
									<ellipse class="cls-4" cx="11.91" cy="12.36" rx="7.7" ry="7.72"></ellipse>
									<ellipse class="cls-5" cx="22.83" cy="7.26" rx="3.59" ry="3.64"></ellipse>
									<ellipse class="cls-5" cx="2.91" cy="19.15" rx="1.64" ry="1.67"></ellipse>
									<ellipse class="cls-5" cx="5.83" cy="2.56" rx="2.09" ry="2.13"></ellipse>
									<path class="cls-6"
										d="M21.6,21.29s-1.45-6.57-6.14-5.14a3.76,3.76,0,0,0-2.19,2.08.83.83,0,0,1-.68.49l-1.23.14a1.23,1.23,0,0,0-1,1.55c.36,1.33,1.52,3.1,5.23,3L15.19,25">
									</path>
									<ellipse class="cls-7" cx="14.55" cy="18.75" rx="0.17" ry="0.39"></ellipse>
									<path class="cls-8"
										d="M21.6,21.29c.13.85-1.43,1-1.43,1-.42,2.19-2,1.73-2,1.73-.79,2-3,1-3,1l1.4-5.72a3.24,3.24,0,0,1,.82-1.48h0a1.83,1.83,0,0,1,2.61,0h0A8.8,8.8,0,0,1,21.6,21.29Z">
									</path>
								</g>
								<path class="cls-9" d="M10.43,20.79l1.73-2S9.55,18.59,10.43,20.79Z"></path>
								<path class="cls-4" d="M19.21,14.08l1.05-.44a.92.92,0,0,0,.58-.9l0-1a.92.92,0,0,0-.65-.85l-1.08-.35Z">
								</path>
								<path class="cls-4" d="M4.65,10.54l-1.08.37a.92.92,0,0,0-.64.86l0,1a.94.94,0,0,0,.6.89l1.06.42Z"></path>
								<circle class="cls-4" cx="11.64" cy="2.73" r="1.25"></circle>
								<path class="cls-2"
									d="M17.46,11.82c.07,2.26-2.36,4.8-5.46,4.9s-5.69-2.29-5.76-4.55,0-4.1,5.48-4.27C17,7.74,17.39,9.56,17.46,11.82Z">
								</path>
								<rect class="cls-4" x="11.45" y="3.59" width="0.45" height="1.47"></rect>
							</svg></span>
						<div direction="column" wrap="nowrap" class="Flex__StyledFlex-sc-130isqg-0 dhCMNU  "
							data-testid="aether-flex" data-click="">
							<h4 color="" class="Heading__StyledHeading-sc-16h23s5-0 ixGsPC SettingsNavBar__EntityName-postman-app__sc-1l4nzet-3 eReraH" data-aether-id="aether-heading" data-testid="aether-heading" data-click="">{{ profile.fullName }}/ Tommaso Centurioni</h4>
								<a target="_self" class="SettingsNavBar__ProfileLink-postman-app__sc-1l4nzet-5 hKSWNV" rel="noreferrer noopener" href="https://go.postman.co/me">
									<span type="link-primary" class="TextLink__StyledTextLink-sc-17llk09-0 bwsOSj" data-aether-id="aether-text-link" data-testid="aether-text">
										<span class="aether-link-text">View your profile</span>
									</span>
								</a>
						</div>
					</div>
					<nav>
						<ul class="SettingsNavBar__SettingsList-postman-app__sc-1l4nzet-0 ffvecA">
							<li data-testid="team-setting-edit_profile-option"
								class="SettingsNavBar__ListItemComponent-postman-app__sc-1l4nzet-1 gTWgOa"><a target="_self"
									class="SettingsNavBar__NavigationLink-postman-app__sc-1l4nzet-4 ddqUOx" rel="noreferrer noopener"
									href="/settings/me">
									<div height="100%" direction="row" wrap="nowrap" class="Flex__StyledFlex-sc-130isqg-0 cIgsdt" data-testid="aether-flex" data-click="">
										<span type="" color="" class="Text__TextContainer-sc-17np7hw-0 keDEoy" data-aether-id="aether-text" data-testid="aether-text">Profile</span>
									</div>
								</a>
							</li>
							<li data-testid="team-setting-account_settings-option" class="SettingsNavBar__ListItemComponent-postman-app__sc-1l4nzet-1 kASbA-D">
								<a target="_self" class="SettingsNavBar__NavigationLink-postman-app__sc-1l4nzet-4 ddqUOx" rel="noreferrer noopener" href="/settings/me/account">
									<div height="100%" direction="row" wrap="nowrap" class="Flex__StyledFlex-sc-130isqg-0 cIgsdt" data-testid="aether-flex" data-click="">
										<span type="" color="" class="Text__TextContainer-sc-17np7hw-0 keDEoy" data-aether-id="aether-text" data-testid="aether-text">Account</span>
									</div>
								</a></li>
							<li data-testid="team-setting-notification_preferences-option" class="SettingsNavBar__ListItemComponent-postman-app__sc-1l4nzet-1 kASbA-D">
								<a target="_self" class="SettingsNavBar__NavigationLink-postman-app__sc-1l4nzet-4 ddqUOx" rel="noreferrer noopener" href="/settings/me/notifications">
									<div height="100%" direction="row" wrap="nowrap" class="Flex__StyledFlex-sc-130isqg-0 cIgsdt" data-testid="aether-flex" data-click="">
										<span type="" color="" class="Text__TextContainer-sc-17np7hw-0 keDEoy" data-aether-id="aether-text" data-testid="aether-text">Notifications</span>
									</div>
								</a>
							</li>
							<li data-testid="team-setting-user_sessions-option" class="SettingsNavBar__ListItemComponent-postman-app__sc-1l4nzet-1 kASbA-D">
								<a target="_self" class="SettingsNavBar__NavigationLink-postman-app__sc-1l4nzet-4 ddqUOx" rel="noreferrer noopener" href="/settings/me/sessions">
									<div height="100%" direction="row" wrap="nowrap" class="Flex__StyledFlex-sc-130isqg-0 cIgsdt" data-testid="aether-flex" data-click="">
										<span type="" color="" class="Text__TextContainer-sc-17np7hw-0 keDEoy" data-aether-id="aether-text" data-testid="aether-text">Active sessions</span>
									</div>
								</a>
							</li>
							<li data-testid="team-setting-your_team-option" class="SettingsNavBar__ListItemComponent-postman-app__sc-1l4nzet-1 kASbA-D">
								<a target="_self" class="SettingsNavBar__NavigationLink-postman-app__sc-1l4nzet-4 ddqUOx" rel="noreferrer noopener" href="/settings/me/team">
									<div height="100%" direction="row" wrap="nowrap" class="Flex__StyledFlex-sc-130isqg-0 cIgsdt" data-testid="aether-flex" data-click="">
										<span type="" color="" class="Text__TextContainer-sc-17np7hw-0 keDEoy" data-aether-id="aether-text" data-testid="aether-text">Teams</span>
									</div>
								</a>
							</li>
							<li data-testid="team-setting-postman_api_keys-option" class="SettingsNavBar__ListItemComponent-postman-app__sc-1l4nzet-1 kASbA-D">
								<a target="_self" class="SettingsNavBar__NavigationLink-postman-app__sc-1l4nzet-4 ddqUOx" rel="noreferrer noopener" href="/settings/me/api-keys">
									<div height="100%" direction="row" wrap="nowrap" class="Flex__StyledFlex-sc-130isqg-0 cIgsdt" data-testid="aether-flex" data-click="">
										<span type="" color="" class="Text__TextContainer-sc-17np7hw-0 keDEoy" data-aether-id="aether-text" data-testid="aether-text">API keys</span>
									</div>
								</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>
  {% block rightContent %}{% endblock %}
{% endblock %}

