{% extends "./base.njk" %}

{% block content %}
  <div class="ProfileSettingsSkeleton__StickyContainerWrapper-postman-app__sc-1bd2840-0 bHywOA">
		<div style="position: sticky; top: 0px;">
			<div direction="row" wrap="nowrap"
				class="Flex__StyledFlex-sc-130isqg-0 eKVBRD ProfileSettingsSkeleton__NavigationBarContainer-postman-app__sc-1bd2840-2 koIIaU "
				data-testid="aether-flex" data-click="">
			</div>
		</div>
	</div>
  {% block rightContent %}{% endblock %}
{% endblock %}
