{% extends "./base.njk" %}

{% block content %}
	<div class="ProfileSettingsSkeleton__StickyContainerWrapper-postman-app__sc-1bd2840-0 bHywOA">
		<div style="position: sticky; top: 0px;">
			<div direction="row" wrap="nowrap"
				class="Flex__StyledFlex-sc-130isqg-0 eKVBRD ProfileSettingsSkeleton__NavigationBarContainer-postman-app__sc-1bd2840-2 koIIaU "
				data-testid="aether-flex" data-click="">
				<div class="SettingsNavBar__NavigationBar-postman-app__sc-1l4nzet-2 jZFRaU">
					<div direction="row" wrap="nowrap" class="Flex__StyledFlex-sc-130isqg-0 eARoVY  " data-testid="aether-flex"
						data-click=""><span type="user" class="Avatar__StyledAvatar-sc-1l4mik6-0 kCBFks"
							data-aether-id="aether-avatar" data-testid="aether-avatar" data-click=""><img
								src="https://res.cloudinary.com/postman/image/upload/t_team_logo/v1/team/default-T5" alt=""
								class="Avatar__StyledAvatarImg-sc-1l4mik6-1 pBfO"></span>
						<div direction="column" wrap="nowrap" class="Flex__StyledFlex-sc-130isqg-0 dhCMNU  "
							data-testid="aether-flex" data-click="">
							<h4 color=""
								class="Heading__StyledHeading-sc-16h23s5-0 ixGsPC SettingsNavBar__EntityName-postman-app__sc-1l4nzet-3 eReraH"
								data-aether-id="aether-heading" data-testid="aether-heading" data-click="">Tommaso Centurioni</h4><a
								target="_self" class="SettingsNavBar__ProfileLink-postman-app__sc-1l4nzet-5 hKSWNV"
								rel="noreferrer noopener" href="https://www.postman.com/tommasocenturioni"><span type="link-primary"
									class="TextLink__StyledTextLink-sc-17llk09-0 bwsOSj" data-aether-id="aether-text-link"
									data-testid="aether-text"><span class="aether-link-text">View publisher profile</span></span></a>
						</div>
					</div>
					<nav>
						<ul class="SettingsNavBar__SettingsList-postman-app__sc-1l4nzet-0 ffvecA">
							<li data-testid="team-setting-members-option"
								class="SettingsNavBar__ListItemComponent-postman-app__sc-1l4nzet-1 kASbA-D"><a target="_self"
									class="SettingsNavBar__NavigationLink-postman-app__sc-1l4nzet-4 ddqUOx" rel="noreferrer noopener"
									href="/settings/team/members">
									<div height="100%" direction="row" wrap="nowrap" class="Flex__StyledFlex-sc-130isqg-0 cIgsdt  "
										data-testid="aether-flex" data-click=""><span type="" color=""
											class="Text__TextContainer-sc-17np7hw-0 keDEoy" data-aether-id="aether-text"
											data-testid="aether-text">Members</span></div>
								</a></li>
							<li data-testid="team-setting-groups-option"
								class="SettingsNavBar__ListItemComponent-postman-app__sc-1l4nzet-1 kASbA-D"><a target="_self"
									class="SettingsNavBar__NavigationLink-postman-app__sc-1l4nzet-4 ddqUOx" rel="noreferrer noopener"
									href="/settings/team/groups">
									<div height="100%" direction="row" wrap="nowrap" class="Flex__StyledFlex-sc-130isqg-0 cIgsdt  "
										data-testid="aether-flex" data-click=""><span type="" color=""
											class="Text__TextContainer-sc-17np7hw-0 keDEoy" data-aether-id="aether-text"
											data-testid="aether-text">Groups</span></div>
								</a></li>
							<li data-testid="team-setting-team_edit_profile-option"
								class="SettingsNavBar__ListItemComponent-postman-app__sc-1l4nzet-1 gTWgOa"><a target="_self"
									class="SettingsNavBar__NavigationLink-postman-app__sc-1l4nzet-4 ddqUOx" rel="noreferrer noopener"
									href="/settings/team/general">
									<div height="100%" direction="row" wrap="nowrap" class="Flex__StyledFlex-sc-130isqg-0 cIgsdt  "
										data-testid="aether-flex" data-click=""><span type="" color=""
											class="Text__TextContainer-sc-17np7hw-0 keDEoy" data-aether-id="aether-text"
											data-testid="aether-text">Team profile</span></div>
								</a></li>
							<li data-testid="team-setting-team_discovery-option"
								class="SettingsNavBar__ListItemComponent-postman-app__sc-1l4nzet-1 kASbA-D"><a target="_self"
									class="SettingsNavBar__NavigationLink-postman-app__sc-1l4nzet-4 ddqUOx" rel="noreferrer noopener"
									href="/settings/team/discovery">
									<div height="100%" direction="row" wrap="nowrap" class="Flex__StyledFlex-sc-130isqg-0 cIgsdt  "
										data-testid="aether-flex" data-click=""><span type="" color=""
											class="Text__TextContainer-sc-17np7hw-0 keDEoy" data-aether-id="aether-text"
											data-testid="aether-text">Team access</span></div>
								</a></li>
							<li data-testid="team-setting-team_resources-option"
								class="SettingsNavBar__ListItemComponent-postman-app__sc-1l4nzet-1 kASbA-D"><a target="_self"
									class="SettingsNavBar__NavigationLink-postman-app__sc-1l4nzet-4 ddqUOx" rel="noreferrer noopener"
									href="/settings/team/team-resources">
									<div height="100%" direction="row" wrap="nowrap" class="Flex__StyledFlex-sc-130isqg-0 cIgsdt  "
										data-testid="aether-flex" data-click=""><span type="" color=""
											class="Text__TextContainer-sc-17np7hw-0 keDEoy" data-aether-id="aether-text"
											data-testid="aether-text">Team resources</span></div>
								</a></li>
							<li data-testid="team-setting-partnership_external_partners-option"
								class="SettingsNavBar__ListItemComponent-postman-app__sc-1l4nzet-1 kASbA-D"><a target="_self"
									class="SettingsNavBar__NavigationLink-postman-app__sc-1l4nzet-4 ddqUOx" rel="noreferrer noopener"
									href="/settings/team/partnerships/external-partners">
									<div height="100%" direction="row" wrap="nowrap" class="Flex__StyledFlex-sc-130isqg-0 cIgsdt  "
										data-testid="aether-flex" data-click="">
										<div direction="row" wrap="nowrap" class="Flex__StyledFlex-sc-130isqg-0 cNTYMr  "
											data-testid="aether-flex" data-click=""><span>Partnerships</span>
											<div color="purple" data-aether-id="aether-tag" data-testid="partnerships-new-tag"
												class="Tag__StyledTag-a0csko-0 jfJIsV"><span color="purple"
													class="Tag__StyledTagText-a0csko-1 hiQAfO">NEW</span></div>
										</div>
									</div>
								</a></li>
							<li data-testid="team-setting-byok_settings-option"
								class="SettingsNavBar__ListItemComponent-postman-app__sc-1l4nzet-1 kASbA-D"><a target="_self"
									class="SettingsNavBar__NavigationLink-postman-app__sc-1l4nzet-4 ddqUOx" rel="noreferrer noopener"
									href="/settings/team/byok">
									<div height="100%" direction="row" wrap="nowrap" class="Flex__StyledFlex-sc-130isqg-0 cIgsdt  "
										data-testid="aether-flex" data-click=""><span type="" color=""
											class="Text__TextContainer-sc-17np7hw-0 keDEoy" data-aether-id="aether-text"
											data-testid="aether-text">BYOK Encryption</span></div>
								</a></li>
							<li data-testid="team-setting-secret_scanner-option"
								class="SettingsNavBar__ListItemComponent-postman-app__sc-1l4nzet-1 kASbA-D"><a target="_self"
									class="SettingsNavBar__NavigationLink-postman-app__sc-1l4nzet-4 ddqUOx" rel="noreferrer noopener"
									href="/settings/team/secret-scanner">
									<div height="100%" direction="row" wrap="nowrap" class="Flex__StyledFlex-sc-130isqg-0 cIgsdt  "
										data-testid="aether-flex" data-click="">
										<div style="width: 100%; height: 100%;">
											<div height="100%" width="100%" direction="row" wrap="nowrap"
												class="Flex__StyledFlex-sc-130isqg-0 gkZguR  " data-testid="aether-flex" data-click="">
												<div direction="row" wrap="nowrap" class="Flex__StyledFlex-sc-130isqg-0 juGyaL  "
													data-testid="aether-flex" data-click=""><span>Secret Scanner</span></div>
											</div>
										</div>
									</div>
								</a></li>
							<li data-testid="team-setting-custom_domains-option"
								class="SettingsNavBar__ListItemComponent-postman-app__sc-1l4nzet-1 kASbA-D"><a target="_self"
									class="SettingsNavBar__NavigationLink-postman-app__sc-1l4nzet-4 ddqUOx" rel="noreferrer noopener"
									href="/settings/team/custom-domains">
									<div height="100%" direction="row" wrap="nowrap" class="Flex__StyledFlex-sc-130isqg-0 cIgsdt  "
										data-testid="aether-flex" data-click=""><span type="" color=""
											class="Text__TextContainer-sc-17np7hw-0 keDEoy" data-aether-id="aether-text"
											data-testid="aether-text">Custom domains</span></div>
								</a></li>
							<li data-testid="team-setting-installed-apps-option"
								class="SettingsNavBar__ListItemComponent-postman-app__sc-1l4nzet-1 kASbA-D"><a target="_self"
									class="SettingsNavBar__NavigationLink-postman-app__sc-1l4nzet-4 ddqUOx" rel="noreferrer noopener"
									href="/settings/team/installed-apps">
									<div height="100%" direction="row" wrap="nowrap" class="Flex__StyledFlex-sc-130isqg-0 cIgsdt  "
										data-testid="aether-flex" data-click=""><span type="" color=""
											class="Text__TextContainer-sc-17np7hw-0 keDEoy" data-aether-id="aether-text"
											data-testid="aether-text">Installed apps</span></div>
								</a></li>
							<li data-testid="team-setting-auth-option"
								class="SettingsNavBar__ListItemComponent-postman-app__sc-1l4nzet-1 kASbA-D"><a target="_self"
									class="SettingsNavBar__NavigationLink-postman-app__sc-1l4nzet-4 ddqUOx" rel="noreferrer noopener"
									href="/settings/team/auth">
									<div height="100%" direction="row" wrap="nowrap" class="Flex__StyledFlex-sc-130isqg-0 cIgsdt  "
										data-testid="aether-flex" data-click=""><span type="" color=""
											class="Text__TextContainer-sc-17np7hw-0 keDEoy" data-aether-id="aether-text"
											data-testid="aether-text">Authentication</span></div>
								</a></li>
							<li data-testid="team-setting-roles_and_permissions-option"
								class="SettingsNavBar__ListItemComponent-postman-app__sc-1l4nzet-1 kASbA-D"><a target="_self"
									class="SettingsNavBar__NavigationLink-postman-app__sc-1l4nzet-4 ddqUOx" rel="noreferrer noopener"
									href="/settings/team/roles">
									<div height="100%" direction="row" wrap="nowrap" class="Flex__StyledFlex-sc-130isqg-0 cIgsdt  "
										data-testid="aether-flex" data-click=""><span type="" color=""
											class="Text__TextContainer-sc-17np7hw-0 keDEoy" data-aether-id="aether-text"
											data-testid="aether-text">Roles and permissions</span></div>
								</a></li>
							<li data-testid="team-setting-products_access.settings-option"
								class="SettingsNavBar__ListItemComponent-postman-app__sc-1l4nzet-1 kASbA-D"><a target="_self"
									class="SettingsNavBar__NavigationLink-postman-app__sc-1l4nzet-4 ddqUOx" rel="noreferrer noopener"
									href="/settings/team/products-access">
									<div height="100%" direction="row" wrap="nowrap" class="Flex__StyledFlex-sc-130isqg-0 cIgsdt  "
										data-testid="aether-flex" data-click=""><span type="" color=""
											class="Text__TextContainer-sc-17np7hw-0 keDEoy" data-aether-id="aether-text"
											data-testid="aether-text">Product access</span></div>
								</a></li>
							<li data-testid="team-setting-manage_invite_links-option"
								class="SettingsNavBar__ListItemComponent-postman-app__sc-1l4nzet-1 kASbA-D"><a target="_self"
									class="SettingsNavBar__NavigationLink-postman-app__sc-1l4nzet-4 ddqUOx" rel="noreferrer noopener"
									href="/settings/team/manage-invite-links">
									<div height="100%" direction="row" wrap="nowrap" class="Flex__StyledFlex-sc-130isqg-0 cIgsdt  "
										data-testid="aether-flex" data-click=""><span type="" color=""
											class="Text__TextContainer-sc-17np7hw-0 keDEoy" data-aether-id="aether-text"
											data-testid="aether-text">Invite links</span></div>
								</a></li>
							<li data-testid="team-setting-enterprise_application-option"
								class="SettingsNavBar__ListItemComponent-postman-app__sc-1l4nzet-1 kASbA-D"><a target="_self"
									class="SettingsNavBar__NavigationLink-postman-app__sc-1l4nzet-4 ddqUOx" rel="noreferrer noopener"
									href="/settings/team/enterprise-app">
									<div height="100%" direction="row" wrap="nowrap" class="Flex__StyledFlex-sc-130isqg-0 cIgsdt  "
										data-testid="aether-flex" data-click=""><span type="" color=""
											class="Text__TextContainer-sc-17np7hw-0 keDEoy" data-aether-id="aether-text"
											data-testid="aether-text">Enterprise application</span></div>
								</a></li>
							<li data-testid="team-setting-privateNetwork.settings-option"
								class="SettingsNavBar__ListItemComponent-postman-app__sc-1l4nzet-1 kASbA-D"><a target="_self"
									class="SettingsNavBar__NavigationLink-postman-app__sc-1l4nzet-4 ddqUOx" rel="noreferrer noopener"
									href="/settings/team/private-api-network">
									<div height="100%" direction="row" wrap="nowrap" class="Flex__StyledFlex-sc-130isqg-0 cIgsdt  "
										data-testid="aether-flex" data-click=""><span type="" color=""
											class="Text__TextContainer-sc-17np7hw-0 keDEoy" data-aether-id="aether-text"
											data-testid="aether-text">Private API Network</span></div>
								</a></li>
							<li data-testid="team-setting-apiAuthentication.settings-option"
								class="SettingsNavBar__ListItemComponent-postman-app__sc-1l4nzet-1 kASbA-D"><a target="_self"
									class="SettingsNavBar__NavigationLink-postman-app__sc-1l4nzet-4 ddqUOx" rel="noreferrer noopener"
									href="/settings/team/api-authentication">
									<div height="100%" direction="row" wrap="nowrap" class="Flex__StyledFlex-sc-130isqg-0 cIgsdt  "
										data-testid="aether-flex" data-click=""><span type="" color=""
											class="Text__TextContainer-sc-17np7hw-0 keDEoy" data-aether-id="aether-text"
											data-testid="aether-text">Guided Auth</span></div>
								</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>
	{% block rightContent %}{% endblock %}
{% endblock %}