{% extends "../../layouts/me.njk" %}

{% block rightContent %}
<div direction="column" wrap="nowrap"
	class="Flex__StyledFlex-sc-130isqg-0 jeEsSn ProfileSettingsSkeleton__DynamicContentContainer-postman-app__sc-1bd2840-3 fftUzM "
	data-testid="aether-flex" data-click="">
	<div direction="column" wrap="nowrap" class="Flex__StyledFlex-sc-130isqg-0 dhCMNU  " data-testid="aether-flex"
		data-click="">
		<div class="UserSessionsBody__ActiveSessionsHeading-postman-app__sc-16a3rur-0 gFfHhG">
			<h1 color="" class="Heading__StyledHeading-sc-16h23s5-0 hmVTdD" data-aether-id="aether-heading"
				data-testid="aether-heading" data-click="">Active sessions</h1>
			<p class="Paragraph__StyledParagraph-sc-1fvp2fe-0 fSdtVx" data-aether-id="aether-text-lead" type="lead"
				color="content-color-secondary" data-testid="aether-text">The list of devices that have logged into your
				account. Revoke any sessions that you no longer use or recognize.</p>
		</div>
		<div direction="row" wrap="nowrap"
			class="Flex__StyledFlex-sc-130isqg-0 cqLAkU UserSessionsBody__SessionContainer-postman-app__sc-16a3rur-1 WFdSJ "
			data-testid="aether-flex" data-click="">
			<div direction="column" wrap="nowrap" class="Flex__StyledFlex-sc-130isqg-0 dhCMNU  " data-testid="aether-flex"
				data-click="">
				<h4 color="" class="Heading__StyledHeading-sc-16h23s5-0 ixGsPC" data-aether-id="aether-heading"
					data-testid="aether-heading" data-click="">Chrome for Windows</h4><span type="body-medium"
					color="content-color-secondary" class="Text__TextContainer-sc-17np7hw-0 buCHXu" data-aether-id="aether-text"
					data-testid="aether-text">Current</span>
			</div>
		</div>
		<div direction="row" wrap="nowrap"
			class="Flex__StyledFlex-sc-130isqg-0 cqLAkU UserSessionsBody__SessionContainer-postman-app__sc-16a3rur-1 WFdSJ "
			data-testid="aether-flex" data-click="">
			<div direction="column" wrap="nowrap" class="Flex__StyledFlex-sc-130isqg-0 dhCMNU  " data-testid="aether-flex"
				data-click="">
				<h4 color="" class="Heading__StyledHeading-sc-16h23s5-0 ixGsPC" data-aether-id="aether-heading"
					data-testid="aether-heading" data-click="">Postman for Windows</h4><span type="body-medium"
					color="content-color-secondary" class="Text__TextContainer-sc-17np7hw-0 buCHXu" data-aether-id="aether-text"
					data-testid="aether-text">Last accessed on 22 Jul, 2025</span>
			</div>
			<div direction="row" wrap="nowrap" class="Flex__StyledFlex-sc-130isqg-0 eKVBRD  " data-testid="aether-flex"
				data-click=""><button class="Button__StyledButton-b8af3e-1 ftNSdT" data-aether-id="aether-button"
					data-testid="aether-button" data-click="" data-buttontype="secondary" type="submit" aria-label="Revoke"><span
						class="Button__StyledButtonText-b8af3e-2 liTLwQ aether-button__text">Revoke</span></button></div>
		</div>
		<div direction="row" wrap="nowrap" class="Flex__StyledFlex-sc-130isqg-0 blrZbR  " data-testid="aether-flex"
			data-click=""><button
				class="Button__StyledButton-b8af3e-1 ftNSdT UserSessionsBody__RevokeAllSessionsButton-postman-app__sc-16a3rur-2 ozcaX"
				data-aether-id="aether-button" data-testid="aether-button" data-click="" data-buttontype="secondary"
				type="submit" aria-label="Revoke All Sessions For This Team"><span
					class="Button__StyledButtonText-b8af3e-2 liTLwQ aether-button__text">Revoke All Sessions For This
					Team</span></button></div>
	</div>
	<div></div>
</div>
{% endblock %}